* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

html {
    background: #000;
    height: 100%;
}

body {
    background: #000;
    background-image: url('../images/comming/bg.jpg');
    background-size: cover;
    color: #fff;
    display: table;
    height: 100%;
    width: 100%;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    direction: ltr;
}

h1 {
    text-transform: capitalize;
}

h1>p {
    font-size: 60px;
}


.counter {
    background: #6967674f;
    display: inline-block;
    min-width: 125px;
    margin: 5px;

}

.counter>p {
    text-transform: uppercase;
    background: #c53c12;
    padding: 8px;
}

span {
    display: block;
    height: 125px;
    font-size: 50px;
    line-height: 125px;
}
img.logo {
    width: 200px;
    margin-bottom: 40px;
}
@media only screen and (max-width: 600px) {
   
    .counter {
        margin-bottom: 20px;
    }
    .counter {
        background: #dc383f66;
        display: inline-block;
        min-width: 55px;
    }
    span {
        display: inline-block;
        height: 80px;
        font-size: 26px;
        line-height: 80px;
    }
}