
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: url('../images/login/bg.png');
    background-size: cover;
}

.container.special-login {
    height: 400px;
    width: 650px;
    box-shadow: 0px 30px 40px black;
    display: flex;
    border-radius: 10px;
}

.special-login .image {
    flex: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('http://i.xp.io/HXKwJPw.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.special-login .image h1 {
    margin-top: 50%;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.special-login span {
    color: chartreuse;
}

.special-login .content {
    flex: 50%;
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.special-login .content h1 {
    padding: 40px;
    padding-top: 30px;
    font-family: 'Niconne', cursive;
    font-size: 40px;
    color: #c446c9;
}

.special-login #txt {
    margin: 10px;
    padding: 5px;
    border: none;
    background-color: rgba(156, 77, 156, 0.3);
    border-radius: 10px;
    font-weight: bold;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    color: #aa38a4;
}

.special-login label {
    font-weight: bold;
    font-size: small;
}

.special-login #txt:focus {
    outline: none;
}

.special-login .fp {
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    transition: 0.3s;
}

.special-login .fp:hover {
    color: #c446c9;
}

.special-login button {
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: linear-gradient(to right, #4568DC, #B06AB3);
    border-radius: 20px;
    transition: 0.3s;
}

.special-login button:hover {
    transform: scale(1.2);
}

.special-login button a {
    text-decoration: none;
    color: white;
}


/* start register */
.register {
    width: 100%;
    height: 100%;
    background: url(../images/login/bg.png) no-repeat;
    background-size: cover;
    padding: 100px 0;
}



.register .login-form {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 9px #00000026;
    /* margin-top: 15%; */
    padding: 40px 80px;
}

.register .login-form h3 {
    font-weight: 600;
    color: #2a4972;
    font-size: 26px;
    margin-bottom: 20px;
}

.login-form p>a {
    font-weight: 600;
}

.login-form span>a {
    font-weight: 600;
}

.register .login-form input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C8C8C8;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
}

.register .login-form button {
    background: #2A4972 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 7px 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    outline: none;
}

.register .login-form input::placeholder {
    color: #707070;
    opacity: .5;
}

.register-footer {
    padding: 15px 0;
    background-color: #1A2D46;
    color: #fff;
    font-size: 16px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

/* end register */

/* start login */
/* start register */



.login-info .login-form {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 9px #00000026;
    padding: 60px 80px;
}


.login-info .login-form h3 {
    font-weight: 600;
    color: #2a4972;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}


.login-info .login-form input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C8C8C8;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
}

.login-info .login-form p {
    text-align: center;
    display: block;
}

.login-info .login-form span.inter a {
    font-size: 14px;
    color: #707070;
    float: left;
    margin-bottom: 15px;
}


.login-info .login-form button {
    background: #2A4972 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 10px 10px;
    margin-top: 25px;
    margin-bottom: 40px;
    outline: none;
}

.login-info .login-form input::placeholder {
    color: #707070;
    opacity: .5;
}

.login-info .login-form .login-social {
    margin: 10px auto;
    margin-bottom: 20px;
}

.login-info .login-form .login-social img {
    width: 80px;
}