/*start my style */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;
  color: #000;
  position: relative;
}

a {
  text-decoration: none;
}

.main-logo {
  width: 120px;
  margin-bottom: 20px;
}

.logo-int {
  width: 100px;
  margin-top: 0px;
}

.top_header {
  padding: 30px 0;
  padding-bottom: 15px;
}

.top_header .logo a {
  font-size: 22px;
  font-weight: 600;
  color: #dc383f;
  text-decoration: none;
}

.top_header .search input {
  border: 1px solid #dc383f;
  border-radius: 30px !important;
  position: relative;
  width: 100% !important;
  height: 38px;
}

.top_header .search button {
  position: absolute;
  left: 0;
  z-index: 10;
  outline: none;
}

.top_header .search .input-group-addon {
  padding: 10px 20px;
  padding-left: 36px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #dc383f;
  border: 1px solid #dc383f;
  border-radius: 4px;
  margin-left: 0px;
  border-radius: 20px 0 0 20px !important;
}

.top_header .fav i {
  font-size: 28px;
  color: #dc383f;
  line-height: 40px;
}

.top_header .fav span {
  float: left;
  font-size: 25px;
  color: #777;
  margin-left: 5px;
  opacity: .5;
}

.top_header .cart i {
  font-size: 28px;
  color: #dc383f;
  line-height: 40px;
  position: relative;
}

.top_header .cart span.badge {
  position: absolute;
  top: 0;
  right: 0;
  color: #dc383f;
  background-color: #F1D83B;
}

.top_header .cart span.bord {
  float: left;
  font-size: 25px;
  color: #777;
  margin-left: 5px;
  opacity: .4;
}

.top_header .login a {
  text-decoration: none;
  color: #707070;
  font-size: 14px;
}

.top_header .login i {
  font-size: 28px;
  color: #dc383f;
  line-height: 20px;
  border-radius: 50%;
  padding: 9px;
  background-color: #E8E8E8;
  margin-left: 5px;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
}

.dropbtn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
}

.header .dropdown {
  position: relative;
  display: inline-block;
}

.header .dropdown:hover .dropdown-content {
  display: block;
}

.header .dropdown:hover .dropbtn {
  color: #dc383f;
}

.header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px;
}

.header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header .dropdown-content a:hover {
  background-color: #c1bfbf;
}

.header .dropdown-content a.btn-cart {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #ccc;
  text-align: center;
}

.header .navbar-nav {
  margin-right: -30px;
}

.header .navbar {
  margin-bottom: 5px;
}

.header .navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}

.header .navbar-default .navbar-nav > li > a {
  color: #707070;
  font-weight: 600;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar-default .navbar-nav > li > a:hover {
  color: #dc383f;
}

.header .navbar-default .navbar-nav > li > a:focus {
  color: #dc383f;
}

.header .login button {
  border: none;
  font-size: 16px;
  margin-top: 3px;
  color: #7e7e7e;
  margin-right: -20px;
}

.header .login button:hover {
  background-color: transparent;
}

.header .login button:focus {
  background-color: transparent;
}

.header .login button:active {
  background-color: transparent;
}

.header .login .btn-default.active.focus {
  color: #333;
  background-color: transparent;
  border-color: none;
  outline: none;
}

.header .login .btn-default.active:focus {
  color: #333;
  background-color: transparent;
  border-color: none;
  outline: none;
}

.header .login .btn-default.active:hover {
  color: #333;
  background-color: transparent;
  border-color: none;
  outline: none;
}

.header .login .btn-default:active.focus {
  color: #333;
  background-color: transparent;
  border-color: none;
  outline: none;
}

.header .login .btn-default:active:focus {
  color: #333;
  background-color: transparent;
  border-color: none;
  outline: none;
}

.header .login .btn-default:active:hover {
  color: #333;
  background-color: transparent;
  border-color: none;
  outline: none;
}

.header .login .dropdown-menu li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header .login .dropdown-menu li i {
  font-size: 18px;
  color: #dc383f;
  padding: 2px;
  background-color: transparent;
  margin-left: 5px;
}

.header .top_header .lang {
  margin-top: 12px;
}

.header .top_header .lang img {
  width: 24px;
  display: inline-block;
  margin-left: 5px;
}

.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: transparent;
  border-color: none;
  outline: none;
}

.open > .dropdown-toggle.btn-default:focus {
  color: #333;
  background-color: transparent;
  border-color: none;
  outline: none;
}

.open > .dropdown-toggle.btn-default:hover {
  color: #333;
  background-color: transparent;
  border-color: none;
  outline: none;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #fff;
}

.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: #fff;
}

.cart-dropdown .dropbtn {
  padding: 0;
  padding-bottom: 21px;
  position: relative;
}

.cart-dropdown .dropbtn i {
  position: relative;
  top: 9px;
  color: #dc383f;
}

.cart-dropdown .dropbtn img {
  height: 44px;
  float: right;
  margin-left: 11px;
}

.cart-dropdown .dropbtn .badge {
  position: absolute;
  right: 30px;
  top: -3px;
  background: #F38A00;
}

.cart-dropdown .dropbtn .total-badge {
  color: #dc383f;
  font-family: "Cairo-SemiBold";
  position: relative;
  top: 9px;
  font-size: 16px;
}

.cart-dropdown .dropdown-content .header-cart {
  background: #dc383f;
  color: #fff;
  display: block;
  padding: 12px;
  text-align: center;
}

.cart-dropdown .dropdown-content a {
  padding: 0;
}

.cart-dropdown .dropdown-content a:hover {
  background: transparent;
}

.cart-dropdown .dropdown-content li {
  padding: 0 11px;
}

.cart-dropdown .dropdown-content li.p1 {
  height: 104px;
}

.cart-dropdown .dropdown-content li.p1 .paragraph span {
  color: #888;
  font-family: "Cairo-SemiBold";
}

.cart-dropdown .dropdown-content li.p1 .paragraph figure {
  color: #888;
  font-family: "Cairo-SemiBold";
}

.cart-dropdown .dropdown-content li.p2 {
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.cart-dropdown .dropdown-content li.p2 h5 {
  display: inline-block;
  margin-left: 79px;
  font-size: 16px;
}

.cart-dropdown .dropdown-content li.p2 .btn-default {
  display: inline-block;
  padding: 7px 34px;
  border-radius: 0;
  border: 0;
  background: #dc383f;
  color: #fff;
  font-size: 15px;
}

.cart-dropdown .dropdown-content li.p3 {
  padding: 0;
}

.cart-dropdown .dropdown-content li.p3 h5 {
  margin-right: 15px;
  font-size: 16px;
}

.cart-dropdown .dropdown-content li.p3 img {
  width: 100%;
  height: 115px;
}

.cart-dropdown .dropdown-content li.p3 p a {
  display: block;
  color: #333;
  text-align: center;
  margin-top: 5px;
}

.dropdown-content img {
  width: 100px !important;
  display: block;
  margin: 5px auto;
}

.goCart-btn {
  width: 100%;
  margin-top: 10PX;
  background: #dc383f;
  color: #fff !important;
  text-align: center;
  padding: 9px !important;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

.goCart-btn:hover {
  background: #dc383f !important;
}

.slide .carousel-inner {
  height: 409px !important;
}

.special_offers {
  padding: 40px 0;
}

.special_offers h3 {
  color: #000;
  font-weight: 600;
  margin-bottom: 20px;
}

.special_offers span.more {
  float: left;
  color: #000;
  margin-top: 20px;
  font-size: 18px;
}

.special_offers .owl-theme .owl-nav {
  font-size: 45px;
  margin-top: 0;
  color: #dc383f;
  outline: none;
  height: 60px;
}

.special_offers .item {
  direction: rtl;
  position: relative;
  border: 1px solid #F1D83B;
  border-radius: 10px;
  min-height: 365px;
}

.special_offers .item .padge-r {
  position: absolute;
  right: 0;
  padding: 5px 10px;
  background-color: #F1D83B;
  top: 0;
  border-radius: 0 10px 0 0;
  color: #dc383f;
}

.special_offers .item .padge-l {
  position: absolute;
  left: 10px;
  color: #E2E2E2;
  cursor: pointer;
  font-size: 24px;
  top: 10px;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

.special_offers .item .padge-l:hover {
  color: #E8B03D;
}

.special_offers .item .padge-l:focus {
  color: #E8B03D;
}

.special_offers .item a {
  text-decoration: none;
  color: #000;
}

.special_offers .item img {
  width: 100%;
  height: 185px;
  display: block;
  margin: 0;
  border: 1px solid #f3f1f1;
  border-radius: 10px;
  padding-top: 20px;
}

.special_offers .item h4 {
  color: #000;
  font-size: 18px;
  min-height: 38px;
  padding: 0px 10px;
}

.special_offers .item p {
  color: #707070;
  padding: 0 10px;
}

.special_offers .item p > span {
  color: #dc383f;
  font-weight: 600;
}

.special_offers .item p.small-p {
  font-size: 12px;
}

.special_offers .item button {
  background-color: #dc383f;
  border-radius: 19px;
  border: none;
  padding: 8px 0;
  color: #fff;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  outline: none;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.special_offers .item button:hover {
  background-color: #992228;
}

.special_offers .item button:focus {
  background-color: #992228;
}

.special_offers .item.special {
  border-color: #E2E2E2;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #FFF;
  color: #16273d;
  text-decoration: none;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #fff;
  display: block;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  border-radius: 30px;
  border: 1px solid #dc383f;
  outline: 0;
  display: none;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #dc383f;
  outline: 0;
}

.owl-carousel .owl-nav button.owl-next {
  outline: none;
}

.owl-carousel .owl-nav button.owl-prev {
  outline: none;
}

.owl-carousel button.owl-dot {
  outline: none;
}

.item .overlay-out {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ccccccc9;
  border-radius: 10px;
  z-index: 1000;
  line-height: 365px;
  text-align: center;
}

.item .overlay-out span {
  font-weight: 600;
  font-size: 24px;
  color: #000;
}

.cd-gallery li {
  border-radius: 10px !important;
}

.product-collection {
  padding: 40px 0;
}

.product-collection img {
  margin-bottom: 15px;
}

.banner {
  height: 205px;
  margin-top: 20px;
}

#scroll-btn {
  position: fixed;
  z-index: 10101010;
  background: #dc383f;
  color: #fff;
  border: 0;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  font-size: 26px;
  outline: 0;
  top: 70%;
  right: 1%;
  display: none;
}

.footer {
  background-color: #fbfbfb;
  padding: 50px 0;
  margin-top: 30px;
}

.footer .logo {
  font-size: 26px;
  font-weight: 600;
  color: #dc383f;
  margin-top: 0;
  margin-bottom: 30px;
  text-decoration: none;
}

.footer h4 {
  color: #4e4e4e;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 30px;
}

.footer ul li {
  font-size: 15px;
  color: #707070;
  margin-bottom: 15px;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

.footer ul li:hover {
  color: #dc383f;
  padding-right: 7px;
}

.footer ul a {
  text-decoration: none;
}

.footer ul.social li {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #dc383f;
  color: #fff;
  margin-left: 15px;
  line-height: 35px;
  text-align: center;
}

.footer ul.social li a {
  color: #fff;
}

.footer ul.social li:hover {
  color: #dc383f;
  padding-right: 5px;
  opacity: .7;
}

.footer h5 {
  font-size: 16px;
  font-weight: 600;
  color: #505050;
  margin-bottom: 30px;
  margin-top: 20px;
}

.footer h6 {
  font-size: 16px;
  line-height: 1.7;
  color: #707070;
}

.footer p {
  color: #555;
  font-weight: 600;
  margin-top: 20px;
}

.footer .pays img {
  width: 80%;
  position: relative;
}

.bottom-footer {
  background-color: #dc383f;
  padding: 15px 0;
  text-align: center;
  color: #000;
}

.bottom-footer h4 {
  font-size: 18px;
  color: #fff;
}

.bottom-footer h4 > i {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 22px;
}

.register {
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 100px 0;
}

.register .login-form {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 9px #00000026;
          box-shadow: 0px 1px 9px #00000026;
  padding: 40px 80px;
}

.register .login-form h3 {
  font-weight: 600;
  color: #dc383f;
  font-size: 26px;
  margin-bottom: 20px;
}

.register .login-form input {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C8C8C8;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
}

.register .login-form input::-webkit-input-placeholder {
  color: #707070;
  opacity: .5;
}

.register .login-form input:-ms-input-placeholder {
  color: #707070;
  opacity: .5;
}

.register .login-form input::-ms-input-placeholder {
  color: #707070;
  opacity: .5;
}

.register .login-form input::placeholder {
  color: #707070;
  opacity: .5;
}

.register .login-form button {
  background: #dc383f 0% 0% no-repeat padding-box;
  border-radius: 20px;
  border: none;
  color: #fff;
  padding: 7px 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  outline: none;
}

.login-form p > a {
  font-weight: 600;
}

.login-form span > a {
  font-weight: 600;
}

.register-footer {
  padding: 15px 0;
  background-color: #f39785;
  color: #fff;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.login-info {
  width: 100%;
  height: 100vh;
  background-size: cover;
  padding: 6% 0;
}

.login-info .login-form {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 10px 9px #00000026;
          box-shadow: 0px 10px 9px #00000026;
  padding: 60px 80px;
}

.login-info .login-form h3 {
  font-weight: 600;
  color: #dc383f;
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.login-info .login-form input {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C8C8C8;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
}

.login-info .login-form input::-webkit-input-placeholder {
  color: #707070;
  opacity: .5;
}

.login-info .login-form input:-ms-input-placeholder {
  color: #707070;
  opacity: .5;
}

.login-info .login-form input::-ms-input-placeholder {
  color: #707070;
  opacity: .5;
}

.login-info .login-form input::placeholder {
  color: #707070;
  opacity: .5;
}

.login-info .login-form p {
  text-align: center;
  display: block;
}

.login-info .login-form span.inter a {
  font-size: 14px;
  color: #707070;
  float: left;
  margin-bottom: 15px;
}

.login-info .login-form button {
  background: #dc383f 0% 0% no-repeat padding-box;
  border-radius: 20px;
  border: none;
  color: #fff;
  padding: 10px 10px;
  margin-top: 25px;
  margin-bottom: 40px;
  outline: none;
}

.login-info .login-form .login-social {
  margin: 10px auto;
  margin-bottom: 20px;
}

.login-info .login-form .login-social img {
  width: 80px;
}

.internal-header {
  -webkit-box-shadow: 0px 5px 8px #00000021;
          box-shadow: 0px 5px 8px #00000021;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 20px;
  padding-right: 0;
}

.breadcrumb a {
  color: #dc383f;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">\00a0";
}

.product-slider .carousel-inner > .item {
  padding: 45px;
  border: 1px solid #00000021;
  position: relative;
}

.product-slider .carousel-inner > .item i {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 24px;
  color: #dc383f;
  opacity: 0;
}

.product-slider .carousel-inner > .item img {
  width: 265px;
}

.product-slider i {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 24px;
  color: #dc383f;
}

.product-slider .carousel-indicators {
  bottom: -40px;
}

.product-slider .carousel-indicators li {
  width: 50px;
  height: 50px;
  opacity: .5;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 5;
  margin-left: 10px;
}

.product-slider .carousel-indicators li > img {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5;
}

.product-slider .carousel-indicators .active {
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.product-info h3 {
  font-weight: 600;
  color: #535353;
}

.product-info .availble {
  color: #53B75A;
  margin-right: 5px;
}

.product-info .sold-out {
  color: #dc383f;
  margin-right: 5px;
}

.product-info p {
  font-size: 18px;
  display: inline-block;
}

.product-info .discount {
  padding: 5px 10px;
  background-color: #F1D83B;
  top: 0;
  margin-left: 5px;
  color: #dc383f;
}

.product-info h5 {
  color: #dc383f;
  font-size: 22px;
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.product-info h5 > span {
  color: #707070;
  font-size: 14px;
  margin-right: 5px;
  font-weight: 400;
  opacity: .7;
}

.product-info input {
  border: 1px solid #ccc;
  padding: 11px 0px;
  border-radius: 0px 15px 15px 0;
  margin-bottom: 20px;
  outline: none;
  text-indent: 20px;
}

.product-info button {
  background-color: #EEEEEE;
  color: #777;
  padding: 12px 40px;
  border: none;
  border-radius: 25px 0px 0px 25px;
}

.product-info button > i {
  margin-left: 5px;
  font-size: 22px;
}

.product-info button.danger {
  border-radius: 25px;
  background-color: #dc383f;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  outline: none;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

.product-info button.danger:hover {
  background-color: #992228;
}

.product-info button.share {
  padding: 12px 60px;
  border-radius: 32px 0px 0px 32px;
}

.product-info button.add-to-cart {
  background: #dc383f 0% 0% no-repeat padding-box;
  border-radius: 25px 0px 0px 25px;
  border: none;
  color: #fff;
  padding: 12px 40px;
  outline: none;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

.product-info button.add-to-cart:hover {
  background-color: #992228;
}

.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cc-selector input:active + .drinkcard-cc {
  opacity: .9;
}

.cc-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
  border: 1px solid #dc383f;
}

.cc-selector h6 {
  color: #707070;
  font-weight: 700;
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
}

.cc-selector-2 input {
  position: absolute;
  z-index: 999;
  margin: 5px 0 0 12px;
}

.cc-selector-2 input:active + .drinkcard-cc {
  opacity: .9;
}

.cc-selector-2 input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
  border: 1px solid #dc383f;
}

.cc-selector-2 label {
  margin-left: 7px;
}

.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 55px;
  height: 55px;
  margin-left: 10px;
  border-radius: 10px;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1) grayscale(1) opacity(0.7);
  filter: brightness(1) grayscale(1) opacity(0.7);
}

.drinkcard-cc:hover {
  -webkit-filter: brightness(1) grayscale(0.5) opacity(0.7);
  -moz-filter: brightness(1) grayscale(0.5) opacity(0.7);
  filter: brightness(1) grayscale(0.5) opacity(0.7);
}

span.cc {
  color: #6d84b4;
}

.pd-size-choose {
  margin-bottom: 20px;
}

.pd-size-choose .sc-item {
  display: inline-block;
  margin-right: 5px;
  margin-top: 10px;
  border: 1px solid #e6e5e5;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  margin-top: 10px;
}

.pd-size-choose .sc-item:first-child {
  margin-right: 0;
}

.pd-size-choose .sc-item input {
  position: absolute;
  visibility: hidden;
}

.pd-size-choose .sc-item label {
  font-size: 16px;
  color: #252525;
  font-weight: 700;
  height: 30px;
  width: 75px;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0px;
  display: block;
}

.pd-size-choose .sc-item label.active {
  background: #dc383f;
  color: #ffffff;
}

.pd-size-choose h6 {
  color: #707070;
  font-weight: 700;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.product-description h2 {
  color: #000;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 50px;
}

.product-description p {
  color: #777;
  font-size: 16px;
  line-height: 1.8;
  padding-left: 30px;
}

.table-bordered {
  border: 1px dashed #ddd;
}

.table-bordered > tbody > tr > td {
  border: 1px dashed #ddd;
}

.table-bordered > tbody > tr > th {
  border: 1px dashed #ddd;
}

.table-bordered > tfoot > tr > td {
  border: 1px dashed #ddd;
}

.table-bordered > tfoot > tr > th {
  border: 1px dashed #ddd;
}

.table-bordered > thead > tr > td {
  border: 1px dashed #ddd;
}

.table-bordered > thead > tr > th {
  border: 1px dashed #ddd;
}

.categories-img {
  padding: 5px;
  border: 1px solid #ccc;
  width: 130px;
  height: 115px;
  padding-bottom: 1px;
  margin: 5px auto;
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 5px;
}

.categories-img img {
  width: 60%;
  height: 85%;
}

.categories-box a {
  text-decoration: none;
  color: #707070;
}

.categories-box h4 {
  margin-bottom: 30px;
  font-size: 16px;
  color: #707070;
}

.pd-size-choose.boxing .sc-item label {
  font-size: 16px;
  color: #252525;
  font-weight: 700;
  height: 66px;
  width: 90px;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0px;
  display: block;
}

.pd-size-choose.boxing .sc-item label.img {
  width: 88px;
}

.pd-size-choose.boxing .sc-item p {
  font-size: 14px;
  color: #707070;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.pd-size-choose.boxing .sc-item label.active {
  border: 2px solid #dc383f;
  color: #ffffff;
}

.pd-color {
  margin-bottom: 25px;
}

.pd-color h6 {
  color: #707070;
  font-weight: 700;
  font-size: 14px;
  display: block;
}

.pd-color .pd-color-choose {
  display: block;
}

.pd-color .pd-color-choose .cc-item {
  display: inline-block;
  margin-right: 10px;
}

.pd-color .pd-color-choose .cc-item input {
  position: absolute;
  visibility: hidden;
}

.pd-color .pd-color-choose .cc-item label {
  height: 20px;
  width: 20px;
  background: #252525;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 0;
}

.pd-color .pd-color-choose .cc-item label.cc-yellow {
  background: #EEEE21;
}

.pd-color .pd-color-choose .cc-item label.cc-violet {
  background: #8230E3;
}

.cd-gallery.special_offers .item h4 {
  letter-spacing: -1px;
}

#myDIV .btn {
  background-color: #fff;
  color: #777;
  padding: 2px 4px;
  border: none;
  width: 40px;
  height: 50px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-left: 7px;
}

#myDIV .btn:hover {
  border-color: #dc383f;
}

#myDIV .active {
  border-color: #dc383f;
}

.filter-nav .pagination > li > a {
  position: relative;
  float: right;
  padding: 6px 12px;
  margin-right: -1px;
  line-height: 1.42857143;
  color: #909090;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 5px;
  border-radius: 5px;
}

.filter-nav .pagination > li > span {
  position: relative;
  float: right;
  padding: 6px 12px;
  margin-right: -1px;
  line-height: 1.42857143;
  color: #909090;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 5px;
  border-radius: 5px;
}

.filter-nav .pagination > li.activ > a {
  background-color: #dc383f;
  color: #fff;
  border-color: #dc383f;
}

.cart-list ul {
  margin: 0;
  padding: 0;
}

.cart-list ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 15px;
  background: #eee;
  font-size: 18px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cart-list ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.cart-list ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.cart-list .close {
  position: absolute;
  left: 0;
  top: 0;
  padding: 11px 16px 8px 16px;
  opacity: 1;
  font-size: 24px;
  color: #dc383f;
  opacity: .8;
}

.cart-list .close:hover {
  color: #000;
}

.cart-list .header {
  background-color: #EEEEEE;
  padding: 2px 10px;
  color: white;
  margin-top: 20px;
}

.cart-list .header h2 {
  margin-top: 10px;
  color: #707070;
  font-size: 24px;
}

.cart-list .header:after {
  content: "";
  display: table;
  clear: both;
}

.cart-list input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.cart-list .addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0;
}

.cart-list .addBtn:hover {
  background-color: #bbb;
}

.cart-list .discount {
  padding: 1px 10px;
  background-color: #F1D83B;
  top: 0;
  margin-left: 5px;
  font-size: 13px;
  color: #dc383f;
}

.cart-list h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #777;
  font-weight: 600;
}

.cart-list h3 {
  margin: 10px 0;
  color: #777;
  font-size: 16px;
}

.cart-li h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.cart-li p.add-to-fav {
  margin-top: 25px;
  color: #777;
  font-size: 16px;
}

.cart-li p.price {
  color: #777;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0px;
}

.cart-li p.price > span {
  color: #dc383f;
  font-size: 16px;
}

.cart-li span {
  font-size: 12px;
  color: #777;
}

.cart-list.new-list {
  border: 1px solid #eee;
  border-bottom: none;
  background-color: transparent;
}

.cart-list.new-list:last-child {
  border: 1px solid #eee;
}

.cart-list.new-list img {
  border: 1px solid #eee;
}

.cart-list.new-list h6 {
  color: #555;
  font-size: 14px;
  cursor: pointer;
}

.cart-list.new-list h6 > i {
  margin-left: 5px;
}

.cart-list.new-list h6:hover {
  color: #dc383f;
}

.cart-list.new-list span.sprator {
  color: #bbb;
  margin-top: 5px;
}

.cart-list.new-list h4 {
  font-weight: 500;
  margin-bottom: 15px;
}

.cart-list.new-list .quantity .pro-qty {
  padding: 0px !important;
}

.cart-list.new-list span.discount {
  border-radius: 5px;
}

.quantity {
  display: block;
  margin-bottom: 3px;
}

.quantity .pro-qty {
  width: 128px;
  height: 33px;
  border: 2px solid #dc383f;
  padding: 0 15px;
  background-color: #dc383f;
  margin-top: 5px;
  border-radius: 25px;
}

.quantity .pro-qty .qtybtn {
  font-size: 24px;
  color: #fff;
  float: left;
  line-height: 27px;
  cursor: pointer;
  width: 18px;
}

.quantity .pro-qty .qtybtn.dec {
  font-size: 30px;
}

.quantity .pro-qty input {
  text-align: center;
  width: 52px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  color: #4c4c4c;
  line-height: 15px;
  float: left;
  margin: 0px 3px;
  padding: 7px;
}

.quantity .primary-btn.pd-cart {
  padding: 14px 70px 10px;
}

.total-order {
  padding: 20px 10px;
  margin-top: 20px;
  -webkit-box-shadow: -1px 1px 4px #00000029;
          box-shadow: -1px 1px 4px #00000029;
  border-radius: 5px;
}

.total-order li {
  margin-bottom: 20px;
}

.total-order li p > span {
  float: left;
  font-weight: 600;
}

.total-order li:last-child {
  color: #dc383f;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-bottom: 0;
}

.total-order-btn {
  background: #dc383f 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 4px #00000029;
          box-shadow: 0px 2px 4px #00000029;
  color: #fff;
  padding: 10px 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.continue a {
  text-decoration: none;
  color: #dc383f;
}

.continue a > h3 {
  font-size: 20px;
  margin-top: 40px;
  font-weight: 600;
}

.delivery-details {
  -webkit-box-shadow: 1px 1px 4px #00000029;
          box-shadow: 1px 1px 4px #00000029;
  margin-top: 20px;
  margin-bottom: 40px;
  background: #fff;
}

.btn-box a {
  text-decoration: none;
}

.btn-box button {
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  color: #777;
  outline: none;
}

.btn-box .col-sm-3 {
  padding-left: 0;
}

.btn-box #btn-one {
  border-radius: 5px 23px 23px 5px;
}

.btn-box #btn-two {
  border-radius: 5px;
}

.btn-box #btn-three {
  border-radius: 23px 5px 5px 23px;
}

.btn-active button {
  background-color: #dc383f;
  color: #fff !important;
}

.delivery-list {
  border-bottom: 1px solid #f1efef;
  position: relative;
  padding: 20px;
}

.delivery-list:last-child {
  border-bottom: none;
}

.delivery-list input {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 33px;
}

.delivery-list h2 {
  font-weight: 600;
  font-size: 20px;
  color: #777;
  margin-top: 10px;
}

.delivery-list p {
  color: #777;
  font-size: 14px;
}

.delivery-list p.p-edit {
  margin-top: 25px;
}

.delivery-list .close {
  top: 33px;
}

.delivery-list input.check {
  margin-top: 15px;
}

.add-address-box {
  padding: 10px 30px;
}

.add-address-box h2 {
  margin-bottom: 20px;
  cursor: pointer;
  color: #dc383f;
}

.add-address-box input {
  margin: unset;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  padding: 10px 10px;
  resize: none;
  font-size: 14px;
}

.add-address-box select {
  margin: unset;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  padding: 10px 10px;
  resize: none;
  font-size: 14px;
  color: #707070;
  opacity: 1;
}

.add-address-box textarea {
  margin: unset;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  padding: 10px 10px;
  resize: none;
  font-size: 14px;
}

.add-address-box button {
  background: var(--unnamed-color-2a4972) 0% 0% no-repeat padding-box;
  background: #dc383f 0% 0% no-repeat padding-box;
  border-radius: 28px;
  border: none;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
}

.add-address-box label {
  padding-left: 5px;
  color: #777;
}

h2.add-address {
  color: #dc383f !important;
}

.delivery-details.new {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.delivery-details.new .delivery-list {
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.delivery-details.new .delivery-list img {
  width: 90px;
  margin-top: 15px;
}

.delivery-details.new .delivery-list h4 {
  font-size: 18px;
  color: #000;
  margin-top: 20px;
  font-weight: 600;
}

.delivery-details.new .delivery-list p {
  font-size: 16px;
  color: #444;
  margin-top: 20px;
}

.delivery-details.new .delivery-list input {
  margin-top: 25px;
}

.delivery-list.new:last-child {
  border: 1px solid #eee;
}

.address-content {
  display: none;
}

.add-address-box.pay-box select {
  padding: 5px 10px;
}

.express .panel-heading {
  padding: 10px 25px;
  background-color: transparent;
}

.express .panel-heading a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 2px;
  margin-right: 5px;
  color: #dc383f;
  font-size: 18px;
}

.express .panel-body {
  padding: 0;
}

.express .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  color: #555;
  padding: 5px 0px;
}

.express a {
  text-decoration: none;
}

.express .panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.express-box {
  padding: 15px 10px;
  background-color: #f5f5f5;
}

.express-box img {
  width: 80px;
}

.express-box input[type=radio] {
  margin-top: 10px;
}

.express-box h4 {
  font-size: 16px;
  color: #777;
  font-weight: 600;
}

.express-box h4 > span {
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 300;
}

.express-box h4 > p {
  display: inline-block;
  color: #dc383f;
}

.express-box.last {
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.card ul.nav-tabs {
  border-bottom: none;
  margin-top: 20px;
}

.card ul.nav-tabs li {
  border: 1px solid #ccc;
  margin-left: 10px;
  padding: 3px 70px;
  background-color: #fff;
  border-radius: 5px;
}

.card .nav-tabs > li > a {
  border: none;
  color: #555;
}

.card .nav-tabs > li.active {
  border-color: #dc383f;
  -webkit-box-shadow: 0 2px 6px #cac8c8;
          box-shadow: 0 2px 6px #cac8c8;
}

.card .nav-tabs > li.active > a {
  background-color: #fff;
  border: none;
  color: #dc383f;
}

.card .nav-tabs > li.active > a:focus {
  background-color: #fff;
  border: none;
  color: #dc383f;
}

.card .nav-tabs > li.active > a:hover {
  background-color: #fff;
  border: none;
  color: #dc383f;
}

.card .nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;
}

.card .nav > li > a:hover {
  text-decoration: none;
  background-color: #fff;
}

.card .deliver-box {
  padding: 15px;
  border: 1px solid #eee;
  border-bottom: none;
}

.card .deliver-box:last-child {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
}

.card .deliver-box input {
  margin-top: 26px;
}

.card .deliver-box h4 {
  font-size: 18px;
  font-weight: 600;
  color: #777;
}

.card .deliver-box p {
  font-size: 14px;
}

.card .deliver-box p > a {
  text-decoration: none;
  color: #777;
  opacity: .7;
  margin-top: 15px;
}

.card .deliver-box p > a:hover {
  color: #dc383f;
}

.delivery-list.cart-li p > a {
  text-decoration: none;
  color: #777;
  opacity: .8;
}

.delivery-list.cart-li p > a:hover {
  color: #dc383f;
}

.coll {
  padding: 10px 20px;
  -webkit-box-shadow: 1px 1px 4px #00000029;
          box-shadow: 1px 1px 4px #00000029;
  margin-top: 20px;
  margin-bottom: 40px;
}

.coll img {
  width: 80%;
  margin-top: 10px;
}

.coll p {
  color: #777;
}

.coll p > a {
  text-decoration: none;
  color: #777;
}

.coll p > a:hover {
  color: #dc383f;
}

.coll h3 {
  font-weight: 600;
  color: #555 !important;
  font-size: 18px !important;
}

.coll.cobon {
  padding: 30px 20px;
}

.coll.cobon input {
  float: none;
  display: inline-block;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 0px 25px 25px 0;
}

.coll.cobon button {
  display: inline-block;
  border-radius: 25px 0 0 25px;
  border: 1px solid #dc383f;
  background-color: #dc383f;
  color: #fff;
  padding: 10px 50px;
  margin-right: -6px;
  padding-bottom: 8px;
}

input.check {
  margin-top: 60px;
}

h2.order-acc {
  color: #777;
  font-size: 20px;
  font-weight: 600;
}

ul.profile-sidebar {
  padding: 0px;
  -webkit-box-shadow: 0px 1px 4px #00000029;
          box-shadow: 0px 1px 4px #00000029;
  border-radius: 5px;
  margin-bottom: 30px;
}

ul.profile-sidebar li {
  border-bottom: 1px solid #eee;
  padding: 15px 20px;
  color: #979797;
}

ul.profile-sidebar li:last-child {
  border-bottom: none;
}

ul.profile-sidebar li h4 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #979797;
  margin-right: 15px;
}

ul.profile-sidebar li img {
  display: inline-block;
  width: 16px;
  margin-left: 15px;
}

ul.profile-sidebar li i {
  color: #dc383f;
  font-size: 20px;
  width: 20px;
}

ul.profile-sidebar li.activ {
  background-color: #DBE0E7;
  color: #dc383f;
}

ul.profile-sidebar li.activ h4 {
  color: #dc383f;
}

ul.profile-sidebar a {
  text-decoration: none;
}

.profile-content {
  padding: 0px;
  -webkit-box-shadow: 0px 1px 4px #00000029;
          box-shadow: 0px 1px 4px #00000029;
  border-radius: 5px;
  margin-bottom: 30px;
}

.profile-content h4 {
  display: block;
  margin-left: 21px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 0;
}

.profile-content h4 > a {
  text-decoration: none;
  color: #dc383f;
  font-weight: 600;
  font-size: 16px;
}

.profile-content img {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 160px;
}

.profile-content .social img {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0;
  width: 60px;
}

.profile-content .social img.maroof-sp {
  width: 120px;
}

.profile-content ul.content-ul {
  margin-top: 40px;
}

.profile-content ul.content-ul li {
  padding: 17px 20px;
  border-bottom: 1px solid #eee;
}

.profile-content ul.content-ul li:last-child {
  border: none;
}

.profile-content ul.content-ul h3 {
  display: inline-block;
  color: #979797;
  margin: 0;
  font-size: 18px;
}

.profile-content ul.content-ul h3.spec {
  font-weight: 600;
}

.profile-content ul.content-ul i {
  margin-left: 25px;
  color: #dc383f;
  font-size: 20px;
}

.profile-content .change-pass {
  padding: 40px 120px;
}

.profile-content .change-pass input {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 25px;
  padding: 9px 10px;
  outline: none;
}

.profile-content .change-pass button {
  border-radius: 25px;
  padding: 9px 10px;
  background-color: #dc383f;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline: none;
}

.profile-content .table > tbody > tr > td {
  padding: 15px 8px;
  color: #888;
}

.profile-content .table > tbody > tr > td.green {
  color: #53B75A;
}

.profile-content .table > tbody > tr > td.red {
  color: #dc383f;
}

.profile-content .table > tbody > tr > td.blue {
  color: #53d6dd;
}

.profile-content .table a {
  text-decoration: none;
  color: #888;
}

.profile-content .order-details h4 {
  text-align: right;
}

.profile-content .order-details .cart-list {
  border-bottom: 1px solid #eee;
}

.profile-content .order-details .cart-list:last-child {
  border: none;
}

.profile-content ul.order-spec {
  background-color: #f2f2f2;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.profile-content .pagination > li > a {
  position: relative;
  float: right;
  padding: 6px 12px;
  margin-right: -1px;
  line-height: 1.42857143;
  color: #858586;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 5px;
  border-radius: 5px;
}

.profile-content .pagination > li > span {
  position: relative;
  float: right;
  padding: 6px 12px;
  margin-right: -1px;
  line-height: 1.42857143;
  color: #858586;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 5px;
  border-radius: 5px;
}

.profile-content .pagination > li.activ > a {
  background-color: #dc383f;
  color: #fff;
  border-color: #dc383f;
}

.profile-content .fav-box h4 {
  text-align: right;
}

.profile-content .fav-box input {
  margin-top: 40px;
}

.profile-content .fav-box span.discount {
  padding: 1px 10px;
  background-color: #F1D83B;
  top: 0;
  margin-left: 5px;
  font-size: 13px;
  color: #dc383f;
}

.profile-content .fav-box p {
  color: #777;
}

h2.adress-h {
  margin-top: 0;
  margin-bottom: 20px;
  color: #777;
  font-weight: 600;
  font-size: 18px;
}

.profile-content.adresses .delivery-details {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.profile-content.adresses .delivery-details .delivery-list {
  padding: 5px 20px;
}

.profile-content.adresses .cart-li span {
  font-size: 26px;
  position: absolute;
  top: 27px;
  left: 20px;
}

.profile-content.adresses input {
  margin-top: 26px;
}

.table > tbody > tr > th {
  padding: 15px 8px;
  color: #888;
}

.table > tfoot > tr > td {
  padding: 15px 8px;
  color: #888;
}

.table > tfoot > tr > th {
  padding: 15px 8px;
  color: #888;
}

.table > thead > tr > td {
  padding: 15px 8px;
  color: #888;
}

.table > thead > tr > th {
  padding: 15px 8px;
  color: #888;
}

.profile-content.order-number {
  padding: 10px 20px;
}

.profile-content.order-number .process-span {
  position: absolute;
  top: 135px;
  right: 155px;
  font-size: 16px;
  color: #777;
}

.profile-content.order-number .order-details h3 {
  font-size: 18px;
  font-weight: 600;
  color: #777;
  margin-bottom: 15px;
}

.profile-content.order-number .order-details > div {
  padding: 20px 10px;
  background-color: #F2F2F2;
  border-radius: 5px;
  margin-bottom: 20px;
}

.profile-content.order-number .order-details > div p {
  margin-bottom: 0;
  color: #777;
  font-size: 16px;
}

.profile-content.order-number .order-details > div img {
  margin-top: 0;
  margin-bottom: 0;
}

.profile-content.order-number button {
  background: #dc383f 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 4px #00000029;
          box-shadow: 0px 2px 4px #00000029;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 5px;
  margin-bottom: 40px;
  outline: none;
}

.order-details img {
  border-radius: 0;
}

.process-step {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.process-step:first-of-type:after {
  border-top: 2px solid #e8e8e8;
  content: '';
  margin: 0 -13px;
  position: absolute;
  top: 17px;
  width: 49%;
  right: 3px;
}

.process-step:not(:first-of-type):not(:last-of-type):after {
  border-top: 2px solid #e8e8e8;
  content: '';
  margin: 0 -13px;
  position: absolute;
  top: 17px;
  width: 49%;
  right: 3px;
}

.process-step:not(:first-of-type):not(:last-of-type):before {
  border-top: 2px solid #e8e8e8;
  content: '';
  margin: 0 -13px;
  position: absolute;
  top: 17px;
  width: 49%;
  left: 3px;
}

.process-step:last-of-type:before {
  border-top: 2px solid #e8e8e8;
  content: '';
  margin: 0 -13px;
  position: absolute;
  top: 17px;
  width: 49%;
  border-top: 2px solid #dc383f;
  left: 3px;
}

.process-step.step-three::after {
  border-top: 2px solid #dc383f !important;
}

.process-steps-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  width: 100%;
  direction: ltr;
  margin-top: 30px;
  margin-bottom: 30px;
}

.process-label {
  color: #EAEAE9;
  display: block;
  line-height: 100%;
}

.process-label.active {
  color: #494949;
}

.i-bordered {
  background-color: #e8e8e8;
  border: 2px solid #e8e8e8;
  border-radius: 50%;
  color: #fff;
  display: block;
  margin: 4px auto 7px;
  position: relative;
  text-align: center;
  width: 25px;
  height: 25px;
}

.i-bordered.active {
  background-color: #fff;
  border: 2px solid #dc383f;
}

.i-bordered.active-2 {
  background-color: #dc383f;
  border-color: #dc383f;
  position: relative;
}

.process-span {
  position: absolute;
  top: 125px;
  right: 152px;
  font-size: 16px;
  color: #777;
}

span.done {
  margin-top: 0;
  margin-bottom: 20px;
  color: #53B75A;
  font-weight: 600;
  font-size: 18px;
  float: left;
}

button.dis {
  opacity: .4;
}

h2.dis-h {
  font-size: 18px;
  color: #777;
  font-weight: 600;
  margin-top: 30px;
}

.fav-box {
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
}

.fav-box button {
  background: #dc383f 0% 0% no-repeat padding-box;
  border-radius: 18px;
  border: none;
  padding: 8px 15px;
  color: #fff;
  margin-top: 25px;
}

.fav-box .close {
  position: absolute;
  left: -5px;
  top: 28px;
  padding: 11px 16px 8px 16px;
  opacity: 1;
  font-size: 26px;
  color: #908d8d;
  opacity: .8;
}

.credit {
  position: relative;
}

.credit p {
  color: #777;
  font-size: 18px;
  margin-top: 25px;
}

.credit .close {
  font-size: 26px;
  top: 25px;
  position: absolute;
  left: 10px;
}

.contact-box {
  padding: 15px 10px;
  background-color: #F1F1F1;
}

.contact-box i {
  color: #dc383f;
  font-size: 22px;
  margin-top: 2px;
}

.contact-box p {
  margin: 0;
}

.term {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.term:last-child {
  border-bottom: none;
}

.term h3 {
  color: #777;
  font-weight: 600;
  font-size: 17px;
}

.term p {
  color: #777;
  opacity: .7;
  line-height: 1.6;
}

.terms-box .term {
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

.terms-box .term:hover {
  -webkit-box-shadow: 0 0 5px 0px #dc383f;
          box-shadow: 0 0 5px 0px #dc383f;
}

.terms-box .term a {
  text-decoration: none;
  color: #777;
}

.terms-box .term a h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.terms-box .term i {
  float: left;
  font-size: 20px;
  color: #dc383f;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.profile-content.faq h4 {
  text-align: right;
  margin: 10px 0;
  padding-top: 0;
}

.profile-content.faq h4 > a {
  font-size: 15px;
}

.profile-content.faq h5 {
  font-weight: 600;
  color: #777;
  margin-top: 30px;
}

.profile-content.faq p {
  color: #777;
  opacity: .7;
  line-height: 1.6;
}

.faq .panel-default > .panel-heading {
  background-color: #f9f9f9;
}

.faq .panel-body {
  padding-top: 0px;
}

.faq .panel-heading a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #eae9e9;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-top: -12px;
  text-align: center;
}

.faq .panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.faq .panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 2px 4px #00000029;
          box-shadow: 0px 2px 4px #00000029;
  border: none;
}

.faq .panel-group .panel-heading + .panel-collapse > .list-group {
  border: none;
}

.faq .panel-group .panel-heading + .panel-collapse > .panel-body {
  border: none;
}

.cd-main-content .container {
  overflow: hidden;
}

#myBtnContainer {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

.filterDiv {
  background-color: transparent;
  display: none;
}

.filterDiv .item {
  direction: rtl;
  position: relative;
  padding: 10px;
  border: 1px solid #F1D83B;
  border-radius: 5px;
  min-height: 340px;
  margin-bottom: 20px;
}

.filterDiv .item .padge-r {
  position: absolute;
  right: 0;
  padding: 5px 10px;
  background-color: #F1D83B;
  top: 0;
  color: #dc383f;
}

.filterDiv .item .padge-l {
  position: absolute;
  left: 10px;
  color: #E2E2E2;
  cursor: pointer;
  font-size: 24px;
}

.filterDiv .item a {
  text-decoration: none;
  color: #000;
}

.filterDiv .item img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 20px auto;
  margin-top: 30px;
}

.filterDiv .item h4 {
  color: #000;
  font-size: 18px;
  min-height: 38px;
}

.filterDiv .item p {
  color: #707070;
}

.filterDiv .item p > span {
  color: #dc383f;
  font-weight: 600;
}

.filterDiv .item p.small-p {
  font-size: 12px;
}

.filterDiv .item button {
  background-color: #dc383f;
  border-radius: 19px;
  border: none;
  padding: 8px 0;
  color: #fff;
}

.filterDiv .item.special {
  border-color: #E2E2E2;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #eee;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 5px;
  outline: none !important;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #dc383f;
  color: white;
}

.bill {
  padding: 60px 0;
  color: #000;
  overflow: hidden;
}

.bill img {
  width: 150px;
}

.bill h5 {
  font-size: 22px;
  margin-top: 10px;
}

.bill .table {
  margin-bottom: 40px !important;
}

.bill .table > caption + thead > tr:first-child > td {
  border-top: 0;
  font-weight: 600;
  color: #000;
  font-size: 22px;
}

.bill .table > caption + thead > tr:first-child > th {
  border-top: 0;
  font-weight: 600;
  color: #000;
  font-size: 22px;
}

.bill .table > colgroup + thead > tr:first-child > td {
  border-top: 0;
  font-weight: 600;
  color: #000;
  font-size: 22px;
}

.bill .table > colgroup + thead > tr:first-child > th {
  border-top: 0;
  font-weight: 600;
  color: #000;
  font-size: 22px;
}

.bill .table > thead:first-child > tr:first-child > td {
  border-top: 0;
  font-weight: 600;
  color: #000;
  font-size: 22px;
}

.bill .table > thead:first-child > tr:first-child > th {
  border-top: 0;
  font-weight: 600;
  color: #000;
  font-size: 22px;
}

.bill .table > thead > tr > td {
  padding: 12px 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-size: 18px;
}

.bill .table > thead > tr > th {
  padding: 12px 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-size: 18px;
}

.bill .table > tbody > tr > td {
  padding: 12px 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-size: 18px;
}

.bill .table > tbody > tr > th {
  padding: 12px 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-size: 18px;
}

.bill .table > tfoot > tr > td {
  padding: 12px 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-size: 18px;
}

.bill .table > tfoot > tr > th {
  padding: 12px 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-size: 18px;
}

.bill ul {
  margin-top: 30px;
}

.bill ul li {
  margin-top: 7px;
  font-size: 20px;
}

.bill th > img {
  width: 150px;
}

.bill-list {
  padding: 40px;
  border: 3px solid #eee;
  margin-bottom: 40px;
}

.bill-header {
  text-align: left;
  font-weight: 600;
  font-size: 64px;
}

.bill-bold {
  font-weight: 600;
}

img.qr-code {
  width: 250px;
  margin-top: 15px;
}

.bill-left {
  text-align: left;
}

.bill-left h4 {
  margin-top: 20px;
}

img.qr-square {
  float: left;
}

.wallet img {
  float: left;
  border-radius: 0;
}

.wallet p {
  color: #000;
  margin: 0;
}

.wallet p.first-p {
  margin-top: 35px;
}

.wallet h3 {
  font-size: 60px;
  color: #dc383f;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cobon {
  border-top: 1px solid #e8e8e8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cobon input {
  border-radius: 0 20px 20px 0;
  border: 1px solid #e8e8e8;
  margin-left: 0;
  padding: 8px 10px;
  width: 70%;
  outline: none;
  margin-top: 15px;
}

.cobon button {
  margin-right: -5px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #faa716;
  padding: 8px 30px;
  outline: none;
  background-color: #faa716;
  color: #fff;
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  .top_header {
    text-align: center;
    padding: 10px 0;
  }
  .top_header .search {
    margin-bottom: 20px;
  }
  .top_header .login a {
    font-size: 12px;
  }
  .top_header .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  .top_header .cart span.badge {
    right: 10px;
  }
  .top_header .cart span.bord {
    float: left;
    font-size: 25px;
    color: #777;
    margin-left: -10px;
    opacity: .4;
  }
  .top_header .fav span {
    float: left;
    font-size: 25px;
    color: #777;
    margin-left: -10px;
    opacity: .5;
  }
  .logo-int {
    width: 80px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-toggle {
    float: right;
    margin-right: 15px;
  }
  .header .navbar-nav {
    margin-right: 0px;
  }
  .header .dropdown-content {
    min-width: 250px;
  }
  .slide .carousel-inner {
    height: 120px !important;
  }
  .banner {
    height: 65px;
  }
  .navbar-default .navbar-collapse {
    border-color: #dc383f;
  }
  .navbar-default .navbar-form {
    border-color: #dc383f;
  }
  .register {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 30% 0;
  }
  .register .login-form {
    padding: 20px 20px;
    padding-bottom: 40px;
  }
  .register .login-form input {
    margin-bottom: 20px;
    padding: 12px 10px;
    outline: none;
  }
  .login-info {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 30% 0;
  }
  .login-info .login-form {
    padding: 25px 20px;
  }
  .login-info .login-form input {
    margin-bottom: 20px;
    padding: 12px 10px;
    outline: none;
  }
  .product-info button {
    padding: 12px 10px;
  }
  .product-info button.share {
    border-radius: 25px 0 0 25px;
    padding: 12px 35px;
  }
  .product-info h3 {
    margin-top: 80px;
    font-size: 20px;
    line-height: 1.4;
  }
  .product-info .discount {
    padding: 5px 10px;
    background-color: #F1D83B;
    top: 0;
    margin-left: 5px;
    line-height: 2.8;
    color: #dc383f;
  }
  .product-info button.add-to-cart {
    padding: 12px 25px;
  }
  .product-slider .carousel-inner {
    height: unset !important;
  }
  .product-slider .carousel-indicators {
    bottom: -75px;
  }
  .product-description p {
    border-left: none;
    padding-left: 15px;
  }
  .categories-img {
    padding: 5px;
    border: 1px solid #ccc;
    width: unset;
    height: 100px;
    padding-bottom: 1px;
    margin: 5px auto;
    margin-top: 20px;
    padding-top: 10px;
  }
  .btn-box {
    margin-bottom: 30px;
    z-index: 10000;
  }
  .btn-box button {
    font-size: 10px;
    padding: 10px 2px;
  }
  .btn-box .col-sm-3 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .add-address-box {
    padding: 10px 0px;
  }
  .coll.cobon input {
    width: 70%;
    width: 68%;
  }
  .coll.cobon button {
    padding-left: 22px;
    padding-right: 22px;
  }
  .delivery-list h4 {
    font-size: 14px;
  }
  .delivery-list p {
    font-size: 11px;
  }
  .delivery-list p.p-edit {
    margin-top: 30px;
  }
  .cart-list h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .add-address-box.pay-box {
    margin-top: 40px !important;
  }
  img.master-card {
    margin-top: 10px;
  }
  .coll h3 {
    font-size: 16px;
  }
  .profile-content .change-pass {
    padding: 20px;
  }
  .profile-content h4 {
    display: block;
    margin-left: 21px;
    width: 100%;
    text-align: right;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 0;
  }
  .profile-content .pagination > li > a {
    margin-bottom: 5px;
  }
  .profile-content .pagination > li > span {
    margin-bottom: 5px;
  }
  .profile-content .social img {
    width: 48%;
  }
  .profile-content .social img.maroof-sp {
    width: 48%;
  }
  .profile-content.adresses .cart-li span {
    top: 22px;
  }
  .profile-content.adresses input {
    margin-top: 26px;
  }
  .credit img {
    margin-bottom: 0;
    margin-top: 23px;
  }
  .credit p {
    color: #777;
    font-size: 16px;
    margin-top: 23px;
  }
  .credit .close {
    top: 20px;
  }
  .contact-box p {
    margin: 0;
  }
  .profile-content.faq h4 > a {
    font-size: 13px;
  }
  .faq .panel-heading a:before {
    padding: 1px 13px;
    margin-top: -2px;
    margin-left: -25px;
  }
  .bill img.logo {
    padding: 20px 0;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .bill h2 {
    margin: 30px 0;
    font-weight: 600;
    font-size: 50px;
    margin-top: 0px;
  }
  .bill h2::before {
    content: "";
    width: 38%;
    background-color: #DA4F12;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
    content: "";
    width: 24%;
    background-color: #DA4F12;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
  }
  .bill h2::after {
    content: "";
    width: 11%;
    background-color: #DA4F12;
    height: 10px;
    display: inline-block;
    margin-right: 15px;
  }
  .bill h5.total {
    background-color: #DA4F12;
    width: 100%;
    color: #fff;
    padding: 10px 25px;
    font-size: 19px;
    text-align: center;
    margin-top: 0;
  }
  .bill .table > tfoot > tr > td {
    color: #000;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 10px;
  }
  .bill .table > tfoot > tr > th {
    color: #000;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 10px;
  }
  .bill .table > caption + thead > tr:first-child > td {
    border-top: 0;
    font-weight: 600;
    color: #000;
    font-size: 9px;
  }
  .bill .table > caption + thead > tr:first-child > th {
    border-top: 0;
    font-weight: 600;
    color: #000;
    font-size: 9px;
  }
  .bill .table > colgroup + thead > tr:first-child > td {
    border-top: 0;
    font-weight: 600;
    color: #000;
    font-size: 9px;
  }
  .bill .table > colgroup + thead > tr:first-child > th {
    border-top: 0;
    font-weight: 600;
    color: #000;
    font-size: 9px;
  }
  .bill .table > thead:first-child > tr:first-child > td {
    border-top: 0;
    font-weight: 600;
    color: #000;
    font-size: 9px;
  }
  .bill .table > thead:first-child > tr:first-child > th {
    border-top: 0;
    font-weight: 600;
    color: #000;
    font-size: 9px;
  }
  .bill .table > thead > tr > td {
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 10px;
  }
  .bill .table > thead > tr > th {
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 10px;
  }
  .bill .table > tbody > tr > td {
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 10px;
  }
  .bill .table > tbody > tr > th {
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 10px;
  }
  .bill h4 {
    font-size: 16px;
  }
  .bill h3 {
    font-size: 17px;
  }
  .bill ul li {
    margin-top: 7px;
    font-size: 15px;
  }
  .bill.preparation h2 {
    font-size: 50px;
    font-size: 43px;
  }
  .bill.preparation h2::before {
    content: "";
    width: 19%;
    background-color: #E8B03D;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
    content: "";
    width: 3%;
    background-color: #E8B03D;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
  }
  .bill.preparation h2::after {
    content: "";
    width: 18%;
    background-color: #E8B03D;
    height: 10px;
    display: inline-block;
    margin-right: 15px;
  }
  .bill.preparation .bill-special {
    margin-top: 20px;
  }
  .bill.preparation td img {
    float: none;
    margin: 0;
    margin-left: 10px;
    margin-top: 3px;
  }
  img.qr-code {
    width: 30%;
    width: 90%;
  }
  .cobon {
    margin-top: 40px;
    border-top: 1px solid #e8e8e8;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cobon input {
    border-radius: 0 20px 20px 0;
    border: 1px solid #e8e8e8;
    margin-left: 0;
    padding: 8px 10px;
    width: 60%;
    outline: none;
    margin-top: 15px;
  }
  .wallet img {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: -30px;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 160px;
  }
  input.check {
    margin-top: 8px;
  }
  .footer h4 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 66px;
    margin-bottom: 20px;
  }
  .footer ul.social li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #dc383f;
    color: #fff;
    margin-left: 8px;
    line-height: 35px;
    text-align: center;
  }
  .footer img.maroof {
    width: 40% !important;
  }
  .filter-nav .pagination > li > a {
    margin-bottom: 5px;
  }
  .filter-nav .pagination > li > span {
    margin-bottom: 5px;
  }
  .pd-size-choose .sc-item label {
    font-size: 16px;
    color: #252525;
    font-weight: 700;
    height: 30px;
    width: 60px;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
  }
  .bill-left {
    text-align: right;
  }
  .bill-header {
    text-align: center;
    font-weight: 600;
    font-size: 44px;
  }
  .bill-list {
    padding: 40px 20px;
    border: 3px solid #eee;
    margin-bottom: 40px;
  }
  img.qr-square {
    float: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .special_offers .item {
    direction: rtl;
    position: relative;
    border: 1px solid #F1D83B;
    border-radius: 10px;
    min-height: 375px;
  }
  .carousel-indicators {
    position: absolute;
    right: 50%;
    bottom: 10px;
    z-index: 15;
    width: 65%;
    padding-right: 0;
    margin-right: -30%;
    text-align: center;
    list-style: none;
  }
  .card ul.nav-tabs li {
    border: 1px solid #ccc;
    margin-left: 10px;
    padding: 0px 30px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    margin-left: 10px;
    padding: 0px 30px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 96%;
    text-align: center;
  }
  .card .deliver-box input {
    margin-top: 26px;
    width: unset;
    float: none;
  }
  .express-box input[type=radio] {
    margin-top: 10px;
    width: unset;
    float: none;
  }
  .express-box h4 {
    font-size: 15px;
    color: #777;
    line-height: 1.6;
    font-weight: 600;
  }
  .cart-list.new-list h6 {
    color: #555;
    font-size: 11px;
    cursor: pointer;
  }
  .delivery-details.new .delivery-list h4 {
    font-size: 16px;
    color: #000;
    margin-top: 20px;
    font-weight: 600;
  }
  .delivery-details.new .delivery-list p {
    font-size: 16px;
    color: #444;
    margin-top: 20px;
    text-align: center;
  }
  .delivery-details.new .delivery-list input {
    margin-top: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .top_header .fav span {
    float: left;
    font-size: 25px;
    color: #777;
    margin-left: -10px;
    opacity: .5;
    display: none;
  }
  .top_header .cart span.bord {
    float: left;
    font-size: 25px;
    color: #777;
    margin-left: -10px;
    opacity: .4;
    display: none;
  }
  .header .navbar-default .navbar-nav > li > a {
    color: #707070;
    font-weight: 600;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 10px 8px;
    font-size: 12px;
  }
  .slide .carousel-inner {
    height: unset !important;
  }
  .banner {
    height: unset;
  }
  .product-slider .carousel-indicators {
    bottom: -80px;
  }
  .total-order li {
    margin-bottom: 20px;
    font-size: 12px;
  }
  .cart-li h4 {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .cart-list input {
    width: 68%;
  }
  .fav-box button {
    padding: 8px 8px;
    margin-top: 30px;
    font-size: 10px;
    margin-right: -13px;
  }
  .profile-content img {
    display: block;
    margin-top: 28px;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 100%;
  }
  .profile-content.order-number .process-span {
    right: 95px;
  }
  img.profile {
    width: 35%;
  }
  .profile-content.faq h4 > a {
    font-size: 12px;
  }
  .faq .panel-heading a:before {
    padding: 1px 13px;
  }
  .register {
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding: 25% 0;
  }
  .register .login-form {
    padding: 40px 40px;
  }
  .bill.preparation h2::before {
    content: "";
    width: 44%;
    background-color: #E8B03D;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
  }
  .bill h3 {
    font-size: 17px;
  }
  .bill .table > caption + thead > tr:first-child > td {
    border-top: 0;
    font-weight: 600;
    color: #000;
    font-size: 14px;
  }
  .bill .table > caption + thead > tr:first-child > th {
    border-top: 0;
    font-weight: 600;
    color: #000;
    font-size: 14px;
  }
  .bill .table > colgroup + thead > tr:first-child > td {
    border-top: 0;
    font-weight: 600;
    color: #000;
    font-size: 14px;
  }
  .bill .table > colgroup + thead > tr:first-child > th {
    border-top: 0;
    font-weight: 600;
    color: #000;
    font-size: 14px;
  }
  .bill .table > thead:first-child > tr:first-child > td {
    border-top: 0;
    font-weight: 600;
    color: #000;
    font-size: 14px;
  }
  .bill .table > thead:first-child > tr:first-child > th {
    border-top: 0;
    font-weight: 600;
    color: #000;
    font-size: 14px;
  }
  .bill .table > thead > tr > td {
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 15px;
  }
  .bill .table > thead > tr > th {
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 15px;
  }
  .bill .table > tbody > tr > td {
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 15px;
  }
  .bill .table > tbody > tr > th {
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 15px;
  }
  .bill .table > tfoot > tr > td {
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 15px;
  }
  .bill .table > tfoot > tr > th {
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 15px;
  }
  .bill ul li {
    margin-top: 7px;
    font-size: 18px;
  }
  .bill th > img {
    width: 120px;
  }
  .footer ul.social li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #dc383f;
    color: #fff;
    margin-left: -1px;
    line-height: 35px;
    text-align: center;
  }
  .footer ul li {
    font-size: 13px;
    color: #707070;
    margin-bottom: 13px;
    -webkit-transition: ease-in-out all 0.3s;
    transition: ease-in-out all 0.3s;
  }
  .card ul.nav-tabs li {
    border: 1px solid #ccc;
    margin-left: 10px;
    padding: 3px 0px;
    background-color: #fff;
    border-radius: 5px;
  }
  .top_header .lang {
    margin-top: 0px !important;
  }
}

@media only screen and (min-width: 321px) and (max-width: 992px) {
  .login-info {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 40% 0;
  }
}

@media only screen and (min-width: 359px) and (max-width: 361px) {
  .bill h2::before {
    content: "";
    width: 31%;
    background-color: #DA4F12;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 410px) and (max-width: 416px) {
  .bill h2::before {
    content: "";
    width: 38%;
    background-color: #DA4F12;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
  }
  .bill.preparation h2::after {
    content: "";
    width: 19%;
    background-color: #E8B03D;
    height: 10px;
    display: inline-block;
    margin-right: 15px;
  }
  .bill.preparation h2::before {
    content: "";
    width: 20%;
    background-color: #E8B03D;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 380px) {
  .bill h2::before {
    content: "";
    width: 33%;
    background-color: #DA4F12;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
  }
  .bill.preparation h2::before {
    content: "";
    width: 15%;
    background-color: #E8B03D;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
  }
  .card ul.nav-tabs li {
    border: 1px solid #ccc;
    margin-left: 10px;
    padding: 3px 10px;
    background-color: #fff;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1025px) {
  .register {
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding: 300px 0;
  }
  .login-info {
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding: 30% 0;
  }
  .bill.preparation h2::before {
    content: "";
    width: 55%;
    background-color: #E8B03D;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
  }
  .bill h2::before {
    content: "";
    width: 65%;
    background-color: #DA4F12;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
  }
  .footer ul.social li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #dc383f;
    color: #fff;
    margin-left: 8px;
    line-height: 35px;
    text-align: center;
  }
  .profile-content .social img {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0;
    width: 40px;
  }
  .profile-content .social img.maroof-sp {
    width: 80px;
  }
  .card ul.nav-tabs li {
    border: 1px solid #ccc;
    margin-left: 10px;
    padding: 3px 30px;
    background-color: #fff;
    border-radius: 5px;
  }
  .top_header .lang {
    margin-top: 0px !important;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 2500px) {
  .bill h2::after {
    content: "";
    width: 19%;
    background-color: #DA4F12;
    height: 10px;
    display: inline-block;
    margin-right: 15px;
  }
  .bill h2::before {
    content: "";
    width: 68%;
    background-color: #DA4F12;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
  }
  .register {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    padding: 180px 0;
  }
  .login-info {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    padding: 10% 0;
  }
}

.a {
  fill: #dc383f;
  margin-left: 15px;
}

svg {
  width: 20px;
}

.cart-list .nav-tabs li {
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 300px;
  text-align: center;
}

.cart-list .nav-tabs li input {
  position: absolute;
  left: 0;
  cursor: pointer;
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */