/*start my style */
$mainColor : #dc383f;
$secondColor : #F1D83B;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Cairo', sans-serif;
	color: #000;
	position: relative;
}

a {
	text-decoration: none;
}

// start header
.main-logo {
	width: 120px;
	margin-bottom: 20px;
}

.logo-int {
	width: 100px;
	margin-top: 0px;
}

.top_header {
	padding: 30px 0;
	padding-bottom: 15px;

	.logo {
		a {
			font-size: 22px;
			font-weight: 600;
			color: $mainColor;
			text-decoration: none;
		}
	}

	.search {
		input {
			border: 1px solid $mainColor;
			border-radius: 30px !important;
			position: relative;
			width: 100% !important;
			height: 38px;
		}

		button {
			position: absolute;
			left: 0;
			z-index: 10;
			outline: none;
		}

		.input-group-addon {
			padding: 10px 20px;
			padding-left: 36px;
			font-size: 14px;
			font-weight: 400;
			line-height: 1;
			color: #fff;
			text-align: center;
			background-color: $mainColor;
			border: 1px solid $mainColor;
			border-radius: 4px;
			margin-left: 0px;
			border-radius: 20px 0 0 20px !important;
		}
	}

	.fav {
		i {
			font-size: 28px;
			color: $mainColor;
			line-height: 40px;
		}

		span {
			float: left;
			font-size: 25px;
			color: #777;
			margin-left: 5px;
			opacity: .5;
		}
	}

	.cart {
		i {
			font-size: 28px;
			color: $mainColor;
			line-height: 40px;
			position: relative;
		}

		span.badge {
			position: absolute;
			top: 0;
			right: 0;
			color: $mainColor;
			background-color: $secondColor;
		}

		span.bord {
			float: left;
			font-size: 25px;
			color: #777;
			margin-left: 5px;
			opacity: .4;
		}
	}

	.login {
		a {
			text-decoration: none;
			color: #707070;
			font-size: 14px;
		}

		i {
			font-size: 28px;
			color: $mainColor;
			line-height: 20px;
			border-radius: 50%;
			padding: 9px;
			background-color: #E8E8E8;
			margin-left: 5px;
		}
	}
}

.form-control {
	&:focus {
		border-color: #66afe9;
		outline: 0;
		// box-shadow: inset 0 1px 1px rgb(0, 0, 0, .075), 0 0 8px rgb(220 56 63);
	}
}

.dropbtn {
	transition: all 0.3s ease-in-out;
	border: none;
}

.header {
	.dropdown {
		position: relative;
		display: inline-block;

		&:hover {
			.dropdown-content {
				display: block;
			}

			.dropbtn {
				color: $mainColor;
			}
		}
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f1f1f1;
		min-width: 300px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1000;
		padding: 10px;

		a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;

			&:hover {
				background-color: #c1bfbf;
			}
		}

		a.btn-cart {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			background-color: #ccc;
			text-align: center;
		}
	}

	.navbar-nav {
		margin-right: -30px;
	}

	.navbar {
		margin-bottom: 5px;
	}

	.navbar-default {
		.navbar-nav {
			>li {
				>a {
					color: #707070;
					font-weight: 600;
					font-size: 14px;
					transition: all 0.3s ease-in-out;

					&:hover {
						color: $mainColor;
					}

					&:focus {
						color: $mainColor;
					}
				}
			}
		}

		background-color: #ffffff;
		border-color: #ffffff;
	}

	.login {
		button {
			border: none;
			font-size: 16px;
			margin-top: 3px;
			color: #7e7e7e;
			margin-right: -20px;

			&:hover {
				background-color: transparent;
			}

			&:focus {
				background-color: transparent;
			}

			&:active {
				background-color: transparent;
			}
		}

		.btn-default.active.focus {
			color: #333;
			background-color: transparent;
			border-color: none;
			outline: none;
		}

		.btn-default.active {
			&:focus {
				color: #333;
				background-color: transparent;
				border-color: none;
				outline: none;
			}

			&:hover {
				color: #333;
				background-color: transparent;
				border-color: none;
				outline: none;
			}
		}

		.btn-default {
			&:active.focus {
				color: #333;
				background-color: transparent;
				border-color: none;
				outline: none;
			}

			&:active {
				&:focus {
					color: #333;
					background-color: transparent;
					border-color: none;
					outline: none;
				}

				&:hover {
					color: #333;
					background-color: transparent;
					border-color: none;
					outline: none;
				}
			}
		}

		.dropdown-menu {
			li {
				padding-top: 5px;
				padding-bottom: 5px;

				i {
					font-size: 18px;
					color: $mainColor;
					padding: 2px;
					background-color: transparent;
					margin-left: 5px;
				}
			}
		}
	}

	.top_header {
		.lang {
			margin-top: 12px;

			img {
				width: 24px;
				display: inline-block;
				margin-left: 5px;
			}
		}
	}
}

.open {
	>.dropdown-toggle.btn-default.focus {
		color: #333;
		background-color: transparent;
		border-color: none;
		outline: none;
	}

	>.dropdown-toggle.btn-default {
		&:focus {
			color: #333;
			background-color: transparent;
			border-color: none;
			outline: none;
		}

		&:hover {
			color: #333;
			background-color: transparent;
			border-color: none;
			outline: none;
		}
	}
}

.navbar-default {
	.navbar-nav {
		>.active {
			>a {
				background-color: #fff;

				&:focus {
					background-color: #fff;
				}

				&:hover {
					background-color: #fff;
				}
			}
		}
	}
}

.cart-dropdown {
	.dropbtn {
		padding: 0;
		padding-bottom: 21px;
		position: relative;

		i {
			position: relative;
			top: 9px;
			color: $mainColor;
		}

		img {
			height: 44px;
			float: right;
			margin-left: 11px;
		}

		.badge {
			position: absolute;
			right: 30px;
			top: -3px;
			background: #F38A00;
		}

		.total-badge {
			color: $mainColor;
			font-family: "Cairo-SemiBold";
			position: relative;
			top: 9px;
			font-size: 16px;
		}
	}

	.dropdown-content {
		.header-cart {
			background: $mainColor;
			color: #fff;
			display: block;
			padding: 12px;
			text-align: center;
		}

		a {
			padding: 0;

			&:hover {
				background: transparent;
			}
		}

		li {
			padding: 0 11px;
		}

		li.p1 {
			height: 104px;

			.paragraph {
				span {
					color: #888;
					font-family: "Cairo-SemiBold";
				}

				figure {
					color: #888;
					font-family: "Cairo-SemiBold";
				}
			}
		}

		li.p2 {
			text-align: center;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			padding: 8px 0;

			h5 {
				display: inline-block;
				margin-left: 79px;
				font-size: 16px;
			}

			.btn-default {
				display: inline-block;
				padding: 7px 34px;
				border-radius: 0;
				border: 0;
				background: $mainColor;
				color: #fff;
				font-size: 15px;
			}
		}

		li.p3 {
			padding: 0;

			h5 {
				margin-right: 15px;
				font-size: 16px;
			}

			img {
				width: 100%;
				height: 115px;
			}

			p {
				a {
					display: block;
					color: #333;
					text-align: center;
					margin-top: 5px;
				}
			}
		}
	}
}

.dropdown-content {
	img {
		width: 100px !important;
		display: block;
		margin: 5px auto;
	}
}

.goCart-btn {
	width: 100%;
	margin-top: 10PX;
	background: $mainColor;
	color: #fff !important;
	text-align: center;
	padding: 9px !important;
	transition: ease-in-out all 0.3s;

	&:hover {
		background: $mainColor !important;
	}
}

// end header

// start slider
.slide {
	.carousel-inner {
		height: 409px !important;
	}
}

// start offers
.special_offers {
	padding: 40px 0;

	h3 {
		color: #000;
		font-weight: 600;
		margin-bottom: 20px;
	}

	span.more {
		float: left;
		color: #000;
		margin-top: 20px;
		font-size: 18px;
	}

	.owl-theme {
		.owl-nav {
			font-size: 45px;
			margin-top: 0;
			color: $mainColor;
			outline: none;
			height: 60px;
		}
	}

	.item {
		direction: rtl;
		position: relative;
		border: 1px solid $secondColor;
		border-radius: 10px;
		min-height: 365px;

		.padge-r {
			position: absolute;
			right: 0;
			padding: 5px 10px;
			background-color: $secondColor;
			top: 0;
			border-radius: 0 10px 0 0;
			color: $mainColor;
		}

		.padge-l {
			position: absolute;
			left: 10px;
			color: #E2E2E2;
			cursor: pointer;
			font-size: 24px;
			top: 10px;
			transition: ease-in-out all 0.3s;

			&:hover {
				color: #E8B03D;
			}

			&:focus {
				color: #E8B03D;
			}
		}

		a {
			text-decoration: none;
			color: #000;
		}

		img {
			width: 100%;
			height: 185px;
			display: block;
			margin: 0;
			border: 1px solid #f3f1f1;
			border-radius: 10px;
			padding-top: 20px;
		}

		h4 {
			color: #000;
			font-size: 18px;
			min-height: 38px;
			padding: 0px 10px;
		}

		p {
			color: #707070;
			padding: 0 10px;

			>span {
				color: $mainColor;
				font-weight: 600;
			}
		}

		p.small-p {
			font-size: 12px;
		}

		button {
			background-color: $mainColor;
			border-radius: 19px;
			border: none;
			padding: 8px 0;
			color: #fff;
			width: 85%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			outline: none;
			transition: all ease-in-out 0.3s;

			&:hover {
				background-color: #992228;
			}

			&:focus {
				background-color: #992228;
			}
		}
	}

	.item.special {
		border-color: #E2E2E2;
	}
}

.owl-theme {
	.owl-nav {
		[class*=owl-] {
			&:hover {
				background: #FFF;
				color: #16273d;
				text-decoration: none;
			}
		}
	}

	.owl-dots {
		.owl-dot {
			span {
				width: 10px;
				height: 10px;
				margin: 5px 7px;
				background: #fff;
				display: block;
				transition: opacity .2s ease;
				border-radius: 30px;
				border: 1px solid $mainColor;
				outline: 0;
				display: none;
			}
		}

		.owl-dot.active {
			span {
				background: $mainColor;
				outline: 0;
			}
		}
	}
}

.owl-carousel {
	.owl-nav {
		button.owl-next {
			outline: none;
		}

		button.owl-prev {
			outline: none;
		}
	}

	button.owl-dot {
		outline: none;
	}
}

.item {
	.overlay-out {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: #ccccccc9;
		border-radius: 10px;
		z-index: 1000;
		line-height: 365px;
		text-align: center;

		span {
			font-weight: 600;
			font-size: 24px;
			color: #000;
		}
	}
}

.cd-gallery {
	li {
		border-radius: 10px !important;
	}
}

.product-collection {
	padding: 40px 0;

	img {
		margin-bottom: 15px;
	}
}

.banner {
	height: 205px;
	margin-top: 20px;
}

// start scroll button
#scroll-btn {
	position: fixed;
	z-index: 10101010;
	background: $mainColor;
	color: #fff;
	border: 0;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	padding-top: 5px;
	font-size: 26px;
	outline: 0;
	top: 70%;
	right: 1%;
	display: none;
}

// end scroll button
// start footer
.footer {
	background-color: #fbfbfb;
	padding: 50px 0;
	margin-top: 30px;

	.logo {
		font-size: 26px;
		font-weight: 600;
		color: $mainColor;
		margin-top: 0;
		margin-bottom: 30px;
		text-decoration: none;
	}

	h4 {
		color: #4e4e4e;
		font-size: 24px;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 30px;
	}

	ul {
		li {
			font-size: 15px;
			color: #707070;
			margin-bottom: 15px;
			transition: ease-in-out all 0.3s;

			&:hover {
				color: $mainColor;
				padding-right: 7px;
			}
		}

		a {
			text-decoration: none;
		}
	}

	ul.social {
		li {
			a {
				color: #fff;
			}

			width: 35px;
			height: 35px;
			border-radius: 50%;
			background-color: $mainColor;
			color: #fff;
			margin-left: 15px;
			line-height: 35px;
			text-align: center;

			&:hover {
				color: $mainColor;
				padding-right: 5px;
				opacity: .7;
			}
		}
	}

	h5 {
		font-size: 16px;
		font-weight: 600;
		color: #505050;
		margin-bottom: 30px;
		margin-top: 20px;
	}

	h6 {
		font-size: 16px;
		line-height: 1.7;
		color: #707070;
	}

	p {
		color: #555;
		font-weight: 600;
		margin-top: 20px;
	}

	.pays {
		img {
			width: 80%;
			position: relative;
		}
	}
}

.bottom-footer {
	background-color: $mainColor;
	padding: 15px 0;
	text-align: center;
	color: #000;

	h4 {
		font-size: 18px;
		color: #fff;

		>i {
			margin-left: 5px;
			margin-right: 5px;
			font-size: 22px;
		}
	}
}

// end footer

// start register
.register {
	width: 100%;
	height: 100%;
	background-size: cover;
	padding: 100px 0;

	.login-form {
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0px 1px 9px #00000026;
		padding: 40px 80px;

		h3 {
			font-weight: 600;
			color: $mainColor;
			font-size: 26px;
			margin-bottom: 20px;
		}

		input {
			background: #FFFFFF 0% 0% no-repeat padding-box;
			border: 1px solid #C8C8C8;
			border-radius: 20px;
			margin-bottom: 20px;
			padding: 10px;
			outline: none;

			&::placeholder {
				color: #707070;
				opacity: .5;
			}
		}

		button {
			background: $mainColor 0% 0% no-repeat padding-box;
			border-radius: 20px;
			border: none;
			color: #fff;
			padding: 7px 10px;
			margin-top: 15px;
			margin-bottom: 20px;
			outline: none;
		}
	}
}

.login-form {
	p {
		>a {
			font-weight: 600;
		}
	}

	span {
		>a {
			font-weight: 600;
		}
	}
}

.register-footer {
	padding: 15px 0;
	background-color: #f39785;
	color: #fff;
	font-size: 16px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.login-info {
	width: 100%;
	height: 100vh;
	background-size: cover;
	padding: 6% 0;

	.login-form {
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0px 10px 9px #00000026;
		padding: 60px 80px;

		h3 {
			font-weight: 600;
			color: $mainColor;
			font-size: 36px;
			text-align: center;
			margin-bottom: 40px;
		}

		input {
			background: #FFFFFF 0% 0% no-repeat padding-box;
			border: 1px solid #C8C8C8;
			border-radius: 20px;
			margin-bottom: 20px;
			padding: 10px;
			outline: none;

			&::placeholder {
				color: #707070;
				opacity: .5;
			}
		}

		p {
			text-align: center;
			display: block;
		}

		span.inter {
			a {
				font-size: 14px;
				color: #707070;
				float: left;
				margin-bottom: 15px;
			}
		}

		button {
			background: $mainColor 0% 0% no-repeat padding-box;
			border-radius: 20px;
			border: none;
			color: #fff;
			padding: 10px 10px;
			margin-top: 25px;
			margin-bottom: 40px;
			outline: none;
		}

		.login-social {
			margin: 10px auto;
			margin-bottom: 20px;

			img {
				width: 80px;
			}
		}
	}
}

// end register

// start internal
.internal-header {
	box-shadow: 0px 5px 8px #00000021;
}

.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	background-color: #ffffff;
	border-radius: 4px;
	margin-top: 20px;
	padding-right: 0;

	a {
		color: $mainColor;
	}

	>li+li {
		&:before {
			padding: 0 5px;
			color: #ccc;
			content: ">\00a0";
		}
	}
}

// start product slider
.product-slider {
	.carousel-inner {
		>.item {
			padding: 45px;
			border: 1px solid #00000021;
			position: relative;

			i {
				position: absolute;
				left: 20px;
				top: 20px;
				font-size: 24px;
				color: $mainColor;
				opacity: 0;
			}

			img {
				width: 265px;
			}
		}
	}

	i {
		position: absolute;
		left: 20px;
		top: 20px;
		font-size: 24px;
		color: $mainColor;
	}

	.carousel-indicators {
		li {
			width: 50px;
			height: 50px;
			opacity: .5;
			margin-top: 0;
			margin-bottom: 0;
			border-radius: 5;
			margin-left: 10px;

			>img {
				width: 100%;
				border: 1px solid #ccc;
				border-radius: 5;
			}
		}

		.active {
			width: 50px;
			height: 50px;
			opacity: 1;
			margin-top: 0;
			margin-bottom: 0;
		}

		bottom: -40px;
	}
}

.product-info {
	h3 {
		font-weight: 600;
		color: #535353;
	}

	.availble {
		color: #53B75A;
		margin-right: 5px;
	}

	.sold-out {
		color: $mainColor;
		margin-right: 5px;
	}

	p {
		font-size: 18px;
		display: inline-block;
	}

	.discount {
		padding: 5px 10px;
		background-color: $secondColor;
		top: 0;
		margin-left: 5px;
		color: $mainColor;
	}

	h5 {
		color: $mainColor;
		font-size: 22px;
		margin-top: 20px;
		font-weight: 600;
		margin-bottom: 20px;

		>span {
			color: #707070;
			font-size: 14px;
			margin-right: 5px;
			font-weight: 400;
			opacity: .7;
		}
	}

	input {
		border: 1px solid #ccc;
		padding: 11px 0px;
		border-radius: 0px 15px 15px 0;
		margin-bottom: 20px;
		outline: none;
		text-indent: 20px;
	}

	button {
		background-color: #EEEEEE;
		color: #777;
		padding: 12px 40px;
		border: none;
		border-radius: 25px 0px 0px 25px;

		>i {
			margin-left: 5px;
			font-size: 22px;
		}
	}

	button.danger {
		border-radius: 25px;
		background-color: $mainColor;
		color: #fff;
		padding: 10px 20px;
		display: inline-block;
		margin-right: 10px;
		font-size: 14px;
		outline: none;
		transition: ease-in-out all 0.3s;

		&:hover {
			background-color: #992228;
		}
	}

	button.share {
		padding: 12px 60px;
		border-radius: 32px 0px 0px 32px;
	}

	button.add-to-cart {
		background: $mainColor 0% 0% no-repeat padding-box;
		border-radius: 25px 0px 0px 25px;
		border: none;
		color: #fff;
		padding: 12px 40px;
		outline: none;
		transition: ease-in-out all 0.3s;

		&:hover {
			background-color: #992228;
		}
	}
}

.cc-selector {
	input {
		margin: 0;
		padding: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&:active+.drinkcard-cc {
			opacity: .9;
		}

		&:checked+.drinkcard-cc {
			-webkit-filter: none;
			-moz-filter: none;
			filter: none;
			border: 1px solid $mainColor;
		}
	}

	h6 {
		color: #707070;
		font-weight: 700;
		font-size: 18px;
		display: block;
		margin-bottom: 20px;
	}
}

.cc-selector-2 {
	input {
		position: absolute;
		z-index: 999;
		margin: 5px 0 0 12px;

		&:active+.drinkcard-cc {
			opacity: .9;
		}

		&:checked+.drinkcard-cc {
			-webkit-filter: none;
			-moz-filter: none;
			filter: none;
			border: 1px solid $mainColor;
		}
	}

	label {
		margin-left: 7px;
	}
}

.drinkcard-cc {
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 55px;
	height: 55px;
	margin-left: 10px;
	border-radius: 10px;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	-webkit-filter: brightness(1) grayscale(1) opacity(.7);
	-moz-filter: brightness(1) grayscale(1) opacity(.7);
	filter: brightness(1) grayscale(1) opacity(.7);

	&:hover {
		-webkit-filter: brightness(1) grayscale(.5) opacity(.7);
		-moz-filter: brightness(1) grayscale(.5) opacity(.7);
		filter: brightness(1) grayscale(.5) opacity(.7);
	}
}

span.cc {
	color: #6d84b4;
}

.pd-size-choose {
	.sc-item {
		display: inline-block;
		margin-right: 5px;
		margin-top: 10px;
		border: 1px solid #e6e5e5;
		text-align: center;
		display: inline-block;
		margin-right: 5px;
		margin-top: 10px;

		&:first-child {
			margin-right: 0;
		}

		input {
			position: absolute;
			visibility: hidden;
		}

		label {
			font-size: 16px;
			color: #252525;
			font-weight: 700;
			height: 30px;
			width: 75px;
			text-align: center;
			line-height: 30px;
			text-transform: uppercase;
			cursor: pointer;
			border-radius: 0px;
			display: block;
		}

		label.active {
			background: $mainColor;
			color: #ffffff;
		}
	}

	margin-bottom: 20px;

	h6 {
		color: #707070;
		font-weight: 700;
		font-size: 18px;
		display: block;
		margin-bottom: 10px;
	}
}

.product-description {
	h2 {
		color: #000;
		font-weight: 600;
		margin-bottom: 20px;
		margin-top: 50px;
	}

	p {
		color: #777;
		font-size: 16px;
		line-height: 1.8;
		padding-left: 30px;
	}
}

.table-bordered {
	>tbody {
		>tr {
			>td {
				border: 1px dashed #ddd;
			}

			>th {
				border: 1px dashed #ddd;
			}
		}
	}

	>tfoot {
		>tr {
			>td {
				border: 1px dashed #ddd;
			}

			>th {
				border: 1px dashed #ddd;
			}
		}
	}

	>thead {
		>tr {
			>td {
				border: 1px dashed #ddd;
			}

			>th {
				border: 1px dashed #ddd;
			}
		}
	}

	border: 1px dashed #ddd;
}

.categories-img {
	padding: 5px;
	border: 1px solid #ccc;
	width: 130px;
	height: 115px;
	padding-bottom: 1px;
	margin: 5px auto;
	margin-top: 20px;
	padding-top: 10px;
	border-radius: 5px;

	img {
		width: 60%;
		height: 85%;
	}
}

.categories-box {
	a {
		text-decoration: none;
		color: #707070;
	}

	h4 {
		margin-bottom: 30px;
		font-size: 16px;
		color: #707070;
	}
}

.pd-size-choose.boxing {
	.sc-item {
		label {
			font-size: 16px;
			color: #252525;
			font-weight: 700;
			height: 66px;
			width: 90px;
			text-align: center;
			line-height: 30px;
			text-transform: uppercase;
			cursor: pointer;
			border-radius: 0px;
			display: block;
		}

		label.img {
			width: 88px;
		}

		p {
			font-size: 14px;
			color: #707070;
			display: block;
			margin-top: 5px;
			margin-bottom: 5px;
		}

		label.active {
			border: 2px solid $mainColor;
			color: #ffffff;
		}
	}
}

.pd-color {
	margin-bottom: 25px;

	h6 {
		color: #707070;
		font-weight: 700;
		font-size: 14px;
		display: block;
	}

	.pd-color-choose {
		display: block;

		.cc-item {
			display: inline-block;
			margin-right: 10px;

			input {
				position: absolute;
				visibility: hidden;
			}

			label {
				height: 20px;
				width: 20px;
				background: #252525;
				border-radius: 50%;
				cursor: pointer;
				margin-bottom: 0;
			}

			label.cc-yellow {
				background: #EEEE21;
			}

			label.cc-violet {
				background: #8230E3;
			}
		}
	}
}

.cd-gallery.special_offers {
	.item {
		h4 {
			letter-spacing: -1px;
		}
	}
}

#myDIV {
	.btn {
		background-color: #fff;
		color: #777;
		padding: 2px 4px;
		border: none;
		width: 40px;
		height: 50px;
		border: 1px solid #ccc;
		margin-bottom: 20px;
		margin-left: 7px;

		&:hover {
			border-color: $mainColor;
		}
	}

	.active {
		border-color: $mainColor;
	}
}

// end product details
// start filter`
.filter-nav {
	.pagination {
		>li {
			>a {
				position: relative;
				float: right;
				padding: 6px 12px;
				margin-right: -1px;
				line-height: 1.42857143;
				color: #909090;
				text-decoration: none;
				background-color: #fff;
				border: 1px solid #ddd;
				margin-left: 5px;
				border-radius: 5px;
			}

			>span {
				position: relative;
				float: right;
				padding: 6px 12px;
				margin-right: -1px;
				line-height: 1.42857143;
				color: #909090;
				text-decoration: none;
				background-color: #fff;
				border: 1px solid #ddd;
				margin-left: 5px;
				border-radius: 5px;
			}
		}

		>li.activ {
			>a {
				background-color: $mainColor;
				color: #fff;
				border-color: $mainColor;
			}
		}
	}
}

// cart
.cart-list {
	ul {
		margin: 0;
		padding: 0;

		li {
			cursor: pointer;
			position: relative;
			padding: 12px 8px 12px 15px;
			background: #eee;
			font-size: 18px;
			transition: 0.2s;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		li.checked {
			background: #888;
			color: #fff;
			text-decoration: line-through;

			&::before {
				content: '';
				position: absolute;
				border-color: #fff;
				border-style: solid;
				border-width: 0 2px 2px 0;
				top: 10px;
				left: 16px;
				transform: rotate(45deg);
				height: 15px;
				width: 7px;
			}
		}
	}

	.close {
		position: absolute;
		left: 0;
		top: 0;
		padding: 11px 16px 8px 16px;
		opacity: 1;
		font-size: 24px;
		color: $mainColor;
		opacity: .8;

		&:hover {
			color: #000;
		}
	}

	.header {
		background-color: #EEEEEE;
		padding: 2px 10px;
		color: white;
		margin-top: 20px;

		h2 {
			margin-top: 10px;
			color: #707070;
			font-size: 24px;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	input {
		margin: 0;
		border: none;
		border-radius: 0;
		width: 75%;
		padding: 10px;
		float: left;
		font-size: 16px;
	}

	.addBtn {
		padding: 10px;
		width: 25%;
		background: #d9d9d9;
		color: #555;
		float: left;
		text-align: center;
		font-size: 16px;
		cursor: pointer;
		transition: 0.3s;
		border-radius: 0;

		&:hover {
			background-color: #bbb;
		}
	}

	.discount {
		padding: 1px 10px;
		background-color: $secondColor;
		top: 0;
		margin-left: 5px;
		font-size: 13px;
		color: $mainColor;
	}

	h2 {
		font-size: 18px;
		margin-bottom: 10px;
		color: #777;
		font-weight: 600;
	}

	h3 {
		margin: 10px 0;
		color: #777;
		font-size: 16px;
	}
}

.cart-li {
	h4 {
		font-size: 18px;
		margin-bottom: 20px;
	}

	p.add-to-fav {
		margin-top: 25px;
		color: #777;
		font-size: 16px;
	}

	p.price {
		color: #777;
		font-size: 15px;
		font-weight: 600;
		margin-bottom: 0px;

		>span {
			color: $mainColor;
			font-size: 16px;
		}
	}

	span {
		font-size: 12px;
		color: #777;
	}
}

.cart-list.new-list {
	border: 1px solid #eee;
	border-bottom: none;
	background-color: transparent;

	&:last-child {
		border: 1px solid #eee;
	}

	img {
		border: 1px solid #eee;
	}

	h6 {
		color: #555;
		font-size: 14px;
		cursor: pointer;

		>i {
			margin-left: 5px;
		}

		&:hover {
			color: $mainColor;
		}
	}

	span.sprator {
		color: #bbb;
		margin-top: 5px;
	}

	h4 {
		font-weight: 500;
		margin-bottom: 15px;
	}

	.quantity {
		.pro-qty {
			padding: 0px !important;
		}
	}

	span.discount {
		border-radius: 5px;
	}
}

.quantity {
	display: block;
	margin-bottom: 3px;

	.pro-qty {
		width: 128px;
		height: 33px;
		border: 2px solid $mainColor;
		padding: 0 15px;
		background-color: $mainColor;
		margin-top: 5px;
		border-radius: 25px;

		.qtybtn {
			font-size: 24px;
			color: #fff;
			float: left;
			line-height: 27px;
			cursor: pointer;
			width: 18px;
		}

		.qtybtn.dec {
			font-size: 30px;
		}

		input {
			text-align: center;
			width: 52px;
			font-size: 14px;
			font-weight: 700;
			border: none;
			color: #4c4c4c;
			line-height: 15px;
			float: left;
			margin: 0px 3px;
			padding: 7px;
		}
	}

	.primary-btn.pd-cart {
		padding: 14px 70px 10px;
	}
}

.total-order {
	padding: 20px 10px;
	margin-top: 20px;
	box-shadow: -1px 1px 4px #00000029;
	border-radius: 5px;

	li {
		p {
			>span {
				float: left;
				font-weight: 600;
			}
		}

		margin-bottom: 20px;

		&:last-child {
			color: $mainColor;
			border-top: 1px solid #ccc;
			padding-top: 10px;
			margin-bottom: 0;
		}
	}
}

.total-order-btn {
	background: $mainColor 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 4px #00000029;
	color: #fff;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	outline: none;
}

.continue {
	a {
		text-decoration: none;
		color: $mainColor;

		>h3 {
			font-size: 20px;
			margin-top: 40px;
			font-weight: 600;
		}
	}
}

.delivery-details {
	box-shadow: 1px 1px 4px #00000029;
	margin-top: 20px;
	margin-bottom: 40px;
	background: #fff;
}

.btn-box {
	a {
		text-decoration: none;
	}

	button {
		padding: 10px 10px;
		font-size: 14px;
		font-weight: 600;
		border: none;
		color: #777;
		outline: none;
	}

	.col-sm-3 {
		padding-left: 0;
	}

	#btn-one {
		border-radius: 5px 23px 23px 5px;
	}

	#btn-two {
		border-radius: 5px;
	}

	#btn-three {
		border-radius: 23px 5px 5px 23px;
	}
}

.btn-active {
	button {
		background-color: $mainColor;
		color: #fff !important;
	}
}

.delivery-list {
	border-bottom: 1px solid #f1efef;
	position: relative;
	padding: 20px;

	&:last-child {
		border-bottom: none;
	}

	input {
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top: 33px;
	}

	h2 {
		font-weight: 600;
		font-size: 20px;
		color: #777;
		margin-top: 10px;
	}

	p {
		color: #777;
		font-size: 14px;
	}

	p.p-edit {
		margin-top: 25px;
	}

	.close {
		top: 33px;
	}

	input.check {
		margin-top: 15px;
	}
}

.add-address-box {
	padding: 10px 30px;

	h2 {
		margin-bottom: 20px;
		cursor: pointer;
		color: $mainColor;
	}

	input {
		margin: unset;
		border: 1px solid #ccc;
		border-radius: 25px;
		width: 100%;
		margin-bottom: 20px;
		outline: none;
		padding: 10px 10px;
		resize: none;
		font-size: 14px;
	}

	select {
		margin: unset;
		border: 1px solid #ccc;
		border-radius: 25px;
		width: 100%;
		margin-bottom: 20px;
		outline: none;
		padding: 10px 10px;
		resize: none;
		font-size: 14px;
		color: #707070;
		opacity: 1;
	}

	textarea {
		margin: unset;
		border: 1px solid #ccc;
		border-radius: 25px;
		width: 100%;
		margin-bottom: 20px;
		outline: none;
		padding: 10px 10px;
		resize: none;
		font-size: 14px;
	}

	button {
		background: var(--unnamed-color-2a4972) 0% 0% no-repeat padding-box;
		background: $mainColor 0% 0% no-repeat padding-box;
		border-radius: 28px;
		border: none;
		color: #fff;
		padding: 12px;
		font-size: 16px;
		font-weight: 600;
	}

	label {
		padding-left: 5px;
		color: #777;
	}
}

h2.add-address {
	color: $mainColor !important;
}

.delivery-details.new {
	box-shadow: none;

	.delivery-list {
		margin-bottom: 20px;
		border: 1px solid #eee;
		border-radius: 10px;
		background-color: #f5f5f5;

		img {
			width: 90px;
			margin-top: 15px;
		}

		h4 {
			font-size: 18px;
			color: #000;
			margin-top: 20px;
			font-weight: 600;
		}

		p {
			font-size: 16px;
			color: #444;
			margin-top: 20px;
		}

		input {
			margin-top: 25px;
		}
	}
}

.delivery-list.new {
	&:last-child {
		border: 1px solid #eee;
	}
}

.address-content {
	display: none;
}

.add-address-box.pay-box {
	select {
		padding: 5px 10px;
	}
}

.express {
	.panel-heading {
		padding: 10px 25px;
		background-color: transparent;

		a {
			&:before {
				font-family: 'Glyphicons Halflings';
				content: "\e114";
				float: left;
				transition: all 0.5s;
				margin-top: 2px;
				margin-right: 5px;
				color: $mainColor;
				font-size: 18px;
			}
		}
	}

	.panel-body {
		padding: 0;
	}

	.panel-title {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 17px;
		color: #555;
		padding: 5px 0px;
	}

	a {
		text-decoration: none;
	}

	.panel-heading.active {
		a {
			&:before {
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
	}
}

.express-box {
	padding: 15px 10px;
	background-color: #f5f5f5;

	img {
		width: 80px;
	}

	input[type=radio] {
		margin-top: 10px;
	}

	h4 {
		font-size: 16px;
		color: #777;
		font-weight: 600;

		>span {
			font-size: 14px;
			margin-left: 15px;
			margin-right: 15px;
			font-weight: 300;
		}

		>p {
			display: inline-block;
			color: $mainColor;
		}
	}
}

.express-box.last {
	background-color: #fff;
	border-top: 1px solid #ddd;
}

.card {
	ul.nav-tabs {
		border-bottom: none;
		margin-top: 20px;

		li {
			border: 1px solid #ccc;
			margin-left: 10px;
			padding: 3px 70px;
			background-color: #fff;
			border-radius: 5px;
		}
	}

	.nav-tabs {
		>li {
			>a {
				border: none;
				color: #555;
			}
		}

		>li.active {
			>a {
				background-color: #fff;
				border: none;
				color: $mainColor;

				&:focus {
					background-color: #fff;
					border: none;
					color: $mainColor;
				}

				&:hover {
					background-color: #fff;
					border: none;
					color: $mainColor;
				}
			}

			border-color: $mainColor;
			box-shadow: 0 2px 6px #cac8c8;
		}
	}

	.nav {
		>li {
			>a {
				&:focus {
					text-decoration: none;
					background-color: #fff;
				}

				&:hover {
					text-decoration: none;
					background-color: #fff;
				}
			}
		}
	}

	.deliver-box {
		padding: 15px;
		border: 1px solid #eee;
		border-bottom: none;

		&:last-child {
			border-bottom: 1px solid #eee;
			margin-bottom: 40px;
		}

		input {
			margin-top: 26px;
		}

		h4 {
			font-size: 18px;
			font-weight: 600;
			color: #777;
		}

		p {
			font-size: 14px;

			>a {
				text-decoration: none;
				color: #777;
				opacity: .7;
				margin-top: 15px;

				&:hover {
					color: $mainColor;
				}
			}
		}
	}
}

.delivery-list.cart-li {
	p {
		>a {
			text-decoration: none;
			color: #777;
			opacity: .8;

			&:hover {
				color: $mainColor;
			}
		}
	}
}

.coll {
	padding: 10px 20px;
	box-shadow: 1px 1px 4px #00000029;
	margin-top: 20px;
	margin-bottom: 40px;

	img {
		width: 80%;
		margin-top: 10px;
	}

	p {
		>a {
			text-decoration: none;
			color: #777;

			&:hover {
				color: $mainColor;
			}
		}

		color: #777;
	}

	h3 {
		font-weight: 600;
		color: #555 !important;
		font-size: 18px !important;
	}
}

.coll.cobon {
	padding: 30px 20px;

	input {
		float: none;
		display: inline-block;
		border: 1px solid #ccc;
		outline: none;
		border-radius: 0px 25px 25px 0;
	}

	button {
		display: inline-block;
		border-radius: 25px 0 0 25px;
		border: 1px solid $mainColor;
		background-color: $mainColor;
		color: #fff;
		padding: 10px 50px;
		margin-right: -6px;
		padding-bottom: 8px;
	}
}

input.check {
	margin-top: 60px;
}

h2.order-acc {
	color: #777;
	font-size: 20px;
	font-weight: 600;
}

ul.profile-sidebar {
	padding: 0px;
	box-shadow: 0px 1px 4px #00000029;
	border-radius: 5px;
	margin-bottom: 30px;

	li {
		border-bottom: 1px solid #eee;
		padding: 15px 20px;
		color: #979797;

		&:last-child {
			border-bottom: none;
		}

		h4 {
			display: inline-block;
			margin-top: 0;
			margin-bottom: 0;
			font-size: 16px;
			color: #979797;
			margin-right: 15px;
		}

		img {
			display: inline-block;
			width: 16px;
			margin-left: 15px;
		}

		i {
			color: $mainColor;
			// margin-left: 15px;
			font-size: 20px;
			width: 20px;
		}
	}

	li.activ {
		background-color: #DBE0E7;
		color: $mainColor;

		h4 {
			color: $mainColor;
		}
	}

	a {
		text-decoration: none;
	}
}

.profile-content {
	padding: 0px;
	box-shadow: 0px 1px 4px #00000029;
	border-radius: 5px;
	margin-bottom: 30px;

	h4 {
		display: block;
		margin-left: 21px;
		width: 100%;
		text-align: left;
		padding-left: 20px;
		padding-top: 20px;
		margin-top: 0;

		>a {
			text-decoration: none;
			color: $mainColor;
			font-weight: 600;
			font-size: 16px;
		}
	}

	img {
		display: block;
		margin-top: 10px;
		margin-bottom: 20px;
		border-radius: 50%;
		width: 160px;
	}

	.social {
		img {
			margin-top: 10px;
			margin-bottom: 10px;
			border-radius: 0;
			width: 60px;
		}

		img.maroof-sp {
			width: 120px;
		}
	}

	ul.content-ul {
		margin-top: 40px;

		li {
			padding: 17px 20px;
			border-bottom: 1px solid #eee;

			&:last-child {
				border: none;
			}
		}

		h3 {
			display: inline-block;
			color: #979797;
			margin: 0;
			font-size: 18px;
		}

		h3.spec {
			font-weight: 600;
		}

		i {
			margin-left: 25px;
			color: $mainColor;
			font-size: 20px;
		}
	}

	.change-pass {
		padding: 40px 120px;

		input {
			border: 1px solid #ccc;
			margin-bottom: 20px;
			border-radius: 25px;
			padding: 9px 10px;
			outline: none;
		}

		button {
			border-radius: 25px;
			padding: 9px 10px;
			background-color: $mainColor;
			color: #fff;
			font-size: 14px;
			font-weight: 600;
			border: none;
			outline: none;
		}
	}

	.table {
		>tbody {
			>tr {
				>td {
					padding: 15px 8px;
					color: #888;
				}

				>td.green {
					color: #53B75A;
				}

				>td.red {
					color: $mainColor;
				}

				>td.blue {
					color: #53d6dd;
				}
			}
		}

		a {
			text-decoration: none;
			color: #888;
		}
	}

	.order-details {
		h4 {
			text-align: right;
		}

		.cart-list {
			border-bottom: 1px solid #eee;

			&:last-child {
				border: none;
			}
		}
	}

	ul.order-spec {
		background-color: #f2f2f2;
		box-shadow: none;
	}

	.pagination {
		>li {
			>a {
				position: relative;
				float: right;
				padding: 6px 12px;
				margin-right: -1px;
				line-height: 1.42857143;
				color: #858586;
				text-decoration: none;
				background-color: #fff;
				border: 1px solid #ddd;
				margin-left: 5px;
				border-radius: 5px;
			}

			>span {
				position: relative;
				float: right;
				padding: 6px 12px;
				margin-right: -1px;
				line-height: 1.42857143;
				color: #858586;
				text-decoration: none;
				background-color: #fff;
				border: 1px solid #ddd;
				margin-left: 5px;
				border-radius: 5px;
			}
		}

		>li.activ {
			>a {
				background-color: $mainColor;
				color: #fff;
				border-color: $mainColor;
			}
		}
	}

	.fav-box {
		h4 {
			text-align: right;
		}

		input {
			margin-top: 40px;
		}

		span.discount {
			padding: 1px 10px;
			background-color: $secondColor;
			top: 0;
			margin-left: 5px;
			font-size: 13px;
			color: $mainColor;
		}

		p {
			color: #777;
		}
	}
}

h2.adress-h {
	margin-top: 0;
	margin-bottom: 20px;
	color: #777;
	font-weight: 600;
	font-size: 18px;
}

.profile-content.adresses {
	.delivery-details {
		box-shadow: none;

		.delivery-list {
			padding: 5px 20px;
		}
	}

	.cart-li {
		span {
			font-size: 26px;
			position: absolute;
			top: 27px;
			left: 20px;
		}
	}

	input {
		margin-top: 26px;
	}
}

.table {
	>tbody {
		>tr {
			>th {
				padding: 15px 8px;
				color: #888;
			}
		}
	}

	>tfoot {
		>tr {
			>td {
				padding: 15px 8px;
				color: #888;
			}

			>th {
				padding: 15px 8px;
				color: #888;
			}
		}
	}

	>thead {
		>tr {
			>td {
				padding: 15px 8px;
				color: #888;
			}

			>th {
				padding: 15px 8px;
				color: #888;
			}
		}
	}
}

.profile-content.order-number {
	padding: 10px 20px;

	.process-span {
		position: absolute;
		top: 135px;
		right: 155px;
		font-size: 16px;
		color: #777;
	}

	.order-details {
		h3 {
			font-size: 18px;
			font-weight: 600;
			color: #777;
			margin-bottom: 15px;
		}

		>div {
			padding: 20px 10px;
			background-color: #F2F2F2;
			border-radius: 5px;
			margin-bottom: 20px;

			p {
				margin-bottom: 0;
				color: #777;
				font-size: 16px;
			}

			img {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}

	button {
		background: $mainColor 0% 0% no-repeat padding-box;
		box-shadow: 0px 2px 4px #00000029;
		border: none;
		color: #fff;
		font-size: 16px;
		padding: 8px 10px;
		border-radius: 5px;
		margin-bottom: 40px;
		outline: none;
	}
}

.order-details {
	img {
		border-radius: 0;
	}
}

.process-step {
	&:first-of-type {
		&:after {
			border-top: 2px solid #e8e8e8;
			content: '';
			margin: 0 -13px;
			position: absolute;
			top: 17px;
			width: 49%;
			right: 3px;
		}
	}

	&:not(:first-of-type) {
		&:not(:last-of-type) {
			&:after {
				border-top: 2px solid #e8e8e8;
				content: '';
				margin: 0 -13px;
				position: absolute;
				top: 17px;
				width: 49%;
				right: 3px;
			}

			&:before {
				border-top: 2px solid #e8e8e8;
				content: '';
				margin: 0 -13px;
				position: absolute;
				top: 17px;
				width: 49%;
				left: 3px;
			}
		}
	}

	&:last-of-type {
		&:before {
			border-top: 2px solid #e8e8e8;
			content: '';
			margin: 0 -13px;
			position: absolute;
			top: 17px;
			width: 49%;
			border-top: 2px solid $mainColor;
			left: 3px;
		}
	}

	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}

.process-step.step-three {
	&::after {
		border-top: 2px solid $mainColor !important;
	}
}

.process-steps-wrapper {
	display: inline-flex;
	justify-content: space-between;
	margin: 0;
	width: 100%;
	direction: ltr;
	margin-top: 30px;
	margin-bottom: 30px;
}

.process-label {
	color: #EAEAE9;
	display: block;
	line-height: 100%;
}

.process-label.active {
	color: #494949;
}

.i-bordered {
	background-color: #e8e8e8;
	border: 2px solid #e8e8e8;
	border-radius: 50%;
	color: #fff;
	display: block;
	margin: 4px auto 7px;
	position: relative;
	text-align: center;
	width: 25px;
	height: 25px;
}

.i-bordered.active {
	background-color: #fff;
	border: 2px solid $mainColor;
}

.i-bordered.active-2 {
	background-color: $mainColor;
	border-color: $mainColor;
	position: relative;
}

.process-span {
	position: absolute;
	top: 125px;
	right: 152px;
	font-size: 16px;
	color: #777;
}

span.done {
	margin-top: 0;
	margin-bottom: 20px;
	color: #53B75A;
	font-weight: 600;
	font-size: 18px;
	float: left;
}

button.dis {
	opacity: .4;
}

h2.dis-h {
	font-size: 18px;
	color: #777;
	font-weight: 600;
	margin-top: 30px;
}

.fav-box {
	padding: 10px 5px;
	border-bottom: 1px solid #eee;

	button {
		background: $mainColor 0% 0% no-repeat padding-box;
		border-radius: 18px;
		border: none;
		padding: 8px 15px;
		color: #fff;
		margin-top: 25px;
	}

	.close {
		position: absolute;
		left: -5px;
		top: 28px;
		padding: 11px 16px 8px 16px;
		opacity: 1;
		font-size: 26px;
		color: #908d8d;
		opacity: .8;
	}
}

.credit {
	position: relative;

	p {
		color: #777;
		font-size: 18px;
		margin-top: 25px;
	}

	.close {
		font-size: 26px;
		top: 25px;
		position: absolute;
		left: 10px;
	}
}

.contact-box {
	padding: 15px 10px;
	background-color: #F1F1F1;

	i {
		color: $mainColor;
		font-size: 22px;
		margin-top: 2px;
	}

	p {
		margin: 0;
	}
}

.term {
	padding: 10px;
	border-bottom: 1px solid#eee;

	&:last-child {
		border-bottom: none;
	}

	h3 {
		color: #777;
		font-weight: 600;
		font-size: 17px;
	}

	p {
		color: #777;
		opacity: .7;
		line-height: 1.6;
	}
}

.terms-box {
	.term {
		border: 1px solid #eee;
		border-radius: 10px;
		margin-bottom: 20px;
		padding: 20px;
		transition: ease-in-out all 0.3s;

		&:hover {
			box-shadow: 0 0 5px 0px $mainColor;
		}

		a {
			text-decoration: none;
			color: #777;

			h3 {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		i {
			float: left;
			font-size: 20px;
			color: $mainColor;
			transform: rotateY(180deg);
		}
	}
}

.profile-content.faq {
	h4 {
		text-align: right;
		margin: 10px 0;
		padding-top: 0;

		>a {
			font-size: 15px;
		}
	}

	h5 {
		font-weight: 600;
		color: #777;
		margin-top: 30px;
	}

	p {
		color: #777;
		opacity: .7;
		line-height: 1.6;
	}
}

.faq {
	.panel-default {
		>.panel-heading {
			background-color: #f9f9f9;
		}
	}

	.panel-body {
		padding-top: 0px;
	}

	.panel-heading {
		a {
			&:before {
				font-family: 'Glyphicons Halflings';
				content: "\e114";
				float: left;
				transition: all 0.5s;
				background-color: #eae9e9;
				border-radius: 50%;
				width: 40px;
				height: 40px;
				line-height: 40px;
				margin-top: -12px;
				text-align: center;
			}
		}
	}

	.panel-heading.active {
		a {
			&:before {
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
	}

	.panel-group {
		.panel {
			margin-bottom: 0;
			border-radius: 4px;
			margin-bottom: 20px;
			box-shadow: 0px 2px 4px #00000029;
			border: none;
		}

		.panel-heading+.panel-collapse {
			>.list-group {
				border: none;
			}

			>.panel-body {
				border: none;
			}
		}
	}
}

.cd-main-content {
	.container {
		overflow: hidden;
	}
}

#myBtnContainer {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 30px;
}

.filterDiv {
	background-color: transparent;
	display: none;

	.item {
		direction: rtl;
		position: relative;
		padding: 10px;
		border: 1px solid $secondColor;
		border-radius: 5px;
		min-height: 340px;
		margin-bottom: 20px;

		.padge-r {
			position: absolute;
			right: 0;
			padding: 5px 10px;
			background-color: $secondColor;
			top: 0;
			color: $mainColor;
		}

		.padge-l {
			position: absolute;
			left: 10px;
			color: #E2E2E2;
			cursor: pointer;
			font-size: 24px;
		}

		a {
			text-decoration: none;
			color: #000;
		}

		img {
			width: 120px;
			height: 120px;
			display: block;
			margin: 20px auto;
			margin-top: 30px;
		}

		h4 {
			color: #000;
			font-size: 18px;
			min-height: 38px;
		}

		p {
			color: #707070;

			>span {
				color: $mainColor;
				font-weight: 600;
			}
		}

		p.small-p {
			font-size: 12px;
		}

		button {
			background-color: $mainColor;
			border-radius: 19px;
			border: none;
			padding: 8px 0;
			color: #fff;
		}
	}

	.item.special {
		border-color: #E2E2E2;
	}
}

.show {
	display: block;
}

.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #eee;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 5px;
	outline: none !important;

	&:hover {
		background-color: #ddd;
	}
}

.btn.active {
	background-color: $mainColor;
	color: white;
}

.bill {
	padding: 60px 0;
	color: #000;
	overflow: hidden;

	img {
		width: 150px;
	}

	h5 {
		font-size: 22px;
		margin-top: 10px;
	}

	.table {
		>caption+thead {
			>tr {
				&:first-child {
					>td {
						border-top: 0;
						font-weight: 600;
						color: #000;
						font-size: 22px;
					}

					>th {
						border-top: 0;
						font-weight: 600;
						color: #000;
						font-size: 22px;
					}
				}
			}
		}

		>colgroup+thead {
			>tr {
				&:first-child {
					>td {
						border-top: 0;
						font-weight: 600;
						color: #000;
						font-size: 22px;
					}

					>th {
						border-top: 0;
						font-weight: 600;
						color: #000;
						font-size: 22px;
					}
				}
			}
		}

		>thead {
			&:first-child {
				>tr {
					&:first-child {
						>td {
							border-top: 0;
							font-weight: 600;
							color: #000;
							font-size: 22px;
						}

						>th {
							border-top: 0;
							font-weight: 600;
							color: #000;
							font-size: 22px;
						}
					}
				}
			}

			>tr {
				>td {
					padding: 12px 8px;
					line-height: 1.42857143;
					vertical-align: top;
					border-top: 1px solid #ddd;
					font-size: 18px;
				}

				>th {
					padding: 12px 8px;
					line-height: 1.42857143;
					vertical-align: top;
					border-top: 1px solid #ddd;
					font-size: 18px;
				}
			}
		}

		>tbody {
			>tr {
				>td {
					padding: 12px 8px;
					line-height: 1.42857143;
					vertical-align: top;
					border-top: 1px solid #ddd;
					font-size: 18px;
				}

				>th {
					padding: 12px 8px;
					line-height: 1.42857143;
					vertical-align: top;
					border-top: 1px solid #ddd;
					font-size: 18px;
				}
			}
		}

		>tfoot {
			>tr {
				>td {
					padding: 12px 8px;
					line-height: 1.42857143;
					vertical-align: top;
					border-top: 1px solid #ddd;
					font-size: 18px;
				}

				>th {
					padding: 12px 8px;
					line-height: 1.42857143;
					vertical-align: top;
					border-top: 1px solid #ddd;
					font-size: 18px;
				}
			}
		}

		margin-bottom: 40px !important;
	}

	ul {
		margin-top: 30px;

		li {
			margin-top: 7px;
			font-size: 20px;
		}
	}

	th {
		>img {
			width: 150px;
		}
	}
}

.bill-list {
	padding: 40px;
	border: 3px solid #eee;
	margin-bottom: 40px;
}

.bill-header {
	text-align: left;
	font-weight: 600;
	font-size: 64px;
}

.bill-bold {
	font-weight: 600;
}

img.qr-code {
	width: 250px;
	margin-top: 15px;
}

.bill-left {
	text-align: left;

	h4 {
		margin-top: 20px;
	}
}

img.qr-square {
	float: left;
}

.wallet {
	img {
		float: left;
		border-radius: 0;
	}

	p {
		color: #000;
		margin: 0;
	}

	p.first-p {
		margin-top: 35px;
	}

	h3 {
		font-size: 60px;
		color: $mainColor;
		font-weight: 600;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.cobon {
	border-top: 1px solid #e8e8e8;
	padding-top: 20px;
	padding-bottom: 20px;

	input {
		border-radius: 0 20px 20px 0;
		border: 1px solid #e8e8e8;
		margin-left: 0;
		padding: 8px 10px;
		width: 70%;
		outline: none;
		margin-top: 15px;
	}

	button {
		margin-right: -5px;
		border-radius: 20px 0 0 20px;
		border: 1px solid #faa716;
		padding: 8px 30px;
		outline: none;
		background-color: #faa716;
		color: #fff;
		margin-top: 15px;
	}
}

// start responsive
@media only screen and (max-width: 600px) {
	.top_header {
		text-align: center;
		padding: 10px 0;

		.search {
			margin-bottom: 20px;
		}

		.login {
			a {
				font-size: 12px;
			}
		}

		.logo {
			text-align: center;
			margin-bottom: 20px;
		}

		.cart {
			span.badge {
				right: 10px;
			}

			span.bord {
				float: left;
				font-size: 25px;
				color: #777;
				margin-left: -10px;
				opacity: .4;
			}
		}

		.fav {
			span {
				float: left;
				font-size: 25px;
				color: #777;
				margin-left: -10px;
				opacity: .5;
			}
		}
	}

	.logo-int {
		width: 80px;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
	}

	.navbar-toggle {
		float: right;
		margin-right: 15px;
	}

	.header {
		.navbar-nav {
			margin-right: 0px;
		}

		.dropdown-content {
			min-width: 250px;
		}
	}

	.slide {
		.carousel-inner {
			height: 120px !important;
		}
	}

	.banner {
		height: 65px;
	}

	.navbar-default {
		.navbar-collapse {
			border-color: $mainColor;
		}

		.navbar-form {
			border-color: $mainColor;
		}
	}

	.register {
		.login-form {
			padding: 20px 20px;
			padding-bottom: 40px;

			input {
				margin-bottom: 20px;
				padding: 12px 10px;
				outline: none;
			}
		}

		width: 100%;
		height: 100%;
		background-size: cover;
		padding: 30% 0;
	}

	.login-info {
		.login-form {
			padding: 25px 20px;

			input {
				margin-bottom: 20px;
				padding: 12px 10px;
				outline: none;
			}
		}

		width: 100%;
		height: 100%;
		background-size: cover;
		padding: 30% 0;
	}

	.product-info {
		button {
			padding: 12px 10px;
		}

		button.share {
			border-radius: 25px 0 0 25px;
			padding: 12px 35px;
		}

		h3 {
			margin-top: 80px;
			font-size: 20px;
			line-height: 1.4;
		}

		.discount {
			padding: 5px 10px;
			background-color: $secondColor;
			top: 0;
			margin-left: 5px;
			line-height: 2.8;
			color: $mainColor;
		}

		button.add-to-cart {
			padding: 12px 25px;
		}
	}

	.product-slider {
		.carousel-inner {
			height: unset !important;
		}

		.carousel-indicators {
			bottom: -75px;
		}
	}

	.product-description {
		p {
			border-left: none;
			padding-left: 15px;
		}
	}

	.categories-img {
		padding: 5px;
		border: 1px solid #ccc;
		width: unset;
		height: 100px;
		padding-bottom: 1px;
		margin: 5px auto;
		margin-top: 20px;
		padding-top: 10px;
	}

	.btn-box {
		margin-bottom: 30px;
		z-index: 10000;

		button {
			font-size: 10px;
			padding: 10px 2px;
		}

		.col-sm-3 {
			padding-right: 5px;
			padding-left: 5px;
		}
	}

	.add-address-box {
		padding: 10px 0px;
	}

	.coll.cobon {
		input {
			width: 70%;
			width: 68%;
		}

		button {
			padding-left: 22px;
			padding-right: 22px;
		}
	}

	.delivery-list {
		h4 {
			font-size: 14px;
		}

		p {
			font-size: 11px;
		}

		p.p-edit {
			margin-top: 30px;
		}
	}

	.cart-list {
		h2 {
			font-size: 22px;
			margin-bottom: 10px;
		}
	}

	.add-address-box.pay-box {
		margin-top: 40px !important;
	}

	img.master-card {
		margin-top: 10px;
	}

	.coll {
		h3 {
			font-size: 16px;
		}
	}

	.profile-content {
		.change-pass {
			padding: 20px;
		}

		h4 {
			display: block;
			margin-left: 21px;
			width: 100%;
			text-align: right;
			padding-left: 20px;
			padding-top: 20px;
			margin-top: 0;
		}

		.pagination {
			>li {
				>a {
					margin-bottom: 5px;
				}

				>span {
					margin-bottom: 5px;
				}
			}
		}

		.social {
			img {
				width: 48%;
			}

			img.maroof-sp {
				width: 48%;
			}
		}
	}

	.profile-content.adresses {
		.cart-li {
			span {
				top: 22px;
			}
		}

		input {
			margin-top: 26px;
		}
	}

	.credit {
		img {
			margin-bottom: 0;
			margin-top: 23px;
		}

		p {
			color: #777;
			font-size: 16px;
			margin-top: 23px;
		}

		.close {
			top: 20px;
		}
	}

	.contact-box {
		p {
			margin: 0;
		}
	}

	.profile-content.faq {
		h4 {
			>a {
				font-size: 13px;
			}
		}
	}

	.faq {
		.panel-heading {
			a {
				&:before {
					padding: 1px 13px;
					margin-top: -2px;
					margin-left: -25px;
				}
			}
		}
	}

	.bill {
		img.logo {
			padding: 20px 0;
			margin-top: 10px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		h2 {
			margin: 30px 0;
			font-weight: 600;
			font-size: 50px;
			margin-top: 0px;

			&::before {
				content: "";
				width: 38%;
				background-color: #DA4F12;
				height: 10px;
				display: inline-block;
				margin-left: 15px;
				content: "";
				width: 24%;
				background-color: #DA4F12;
				height: 10px;
				display: inline-block;
				margin-left: 15px;
			}

			&::after {
				content: "";
				width: 11%;
				background-color: #DA4F12;
				height: 10px;
				display: inline-block;
				margin-right: 15px;
			}
		}

		h5.total {
			background-color: #DA4F12;
			width: 100%;
			color: #fff;
			padding: 10px 25px;
			font-size: 19px;
			text-align: center;
			margin-top: 0;
		}

		.table {
			>tfoot {
				>tr {
					>td {
						color: #000;
						font-size: 13px;
						font-weight: 600;
						padding: 12px 8px;
						line-height: 1.42857143;
						vertical-align: top;
						border-top: 1px solid #ddd;
						font-size: 10px;
					}

					>th {
						color: #000;
						font-size: 13px;
						font-weight: 600;
						padding: 12px 8px;
						line-height: 1.42857143;
						vertical-align: top;
						border-top: 1px solid #ddd;
						font-size: 10px;
					}
				}
			}

			>caption+thead {
				>tr {
					&:first-child {
						>td {
							border-top: 0;
							font-weight: 600;
							color: #000;
							font-size: 9px;
						}

						>th {
							border-top: 0;
							font-weight: 600;
							color: #000;
							font-size: 9px;
						}
					}
				}
			}

			>colgroup+thead {
				>tr {
					&:first-child {
						>td {
							border-top: 0;
							font-weight: 600;
							color: #000;
							font-size: 9px;
						}

						>th {
							border-top: 0;
							font-weight: 600;
							color: #000;
							font-size: 9px;
						}
					}
				}
			}

			>thead {
				&:first-child {
					>tr {
						&:first-child {
							>td {
								border-top: 0;
								font-weight: 600;
								color: #000;
								font-size: 9px;
							}

							>th {
								border-top: 0;
								font-weight: 600;
								color: #000;
								font-size: 9px;
							}
						}
					}
				}

				>tr {
					>td {
						padding: 12px 8px;
						line-height: 1.42857143;
						vertical-align: top;
						border-top: 1px solid #ddd;
						font-size: 10px;
					}

					>th {
						padding: 12px 8px;
						line-height: 1.42857143;
						vertical-align: top;
						border-top: 1px solid #ddd;
						font-size: 10px;
					}
				}
			}

			>tbody {
				>tr {
					>td {
						padding: 12px 8px;
						line-height: 1.42857143;
						vertical-align: top;
						border-top: 1px solid #ddd;
						font-size: 10px;
					}

					>th {
						padding: 12px 8px;
						line-height: 1.42857143;
						vertical-align: top;
						border-top: 1px solid #ddd;
						font-size: 10px;
					}
				}
			}
		}

		h4 {
			font-size: 16px;
		}

		h3 {
			font-size: 17px;
		}

		ul {
			li {
				margin-top: 7px;
				font-size: 15px;
			}
		}
	}

	.bill.preparation {
		h2 {
			font-size: 50px;
			font-size: 43px;

			&::before {
				content: "";
				width: 19%;
				background-color: #E8B03D;
				height: 10px;
				display: inline-block;
				margin-left: 15px;
				content: "";
				width: 3%;
				background-color: #E8B03D;
				height: 10px;
				display: inline-block;
				margin-left: 15px;
			}

			&::after {
				content: "";
				width: 18%;
				background-color: #E8B03D;
				height: 10px;
				display: inline-block;
				margin-right: 15px;
			}
		}

		.bill-special {
			margin-top: 20px;
		}

		td {
			img {
				float: none;
				margin: 0;
				margin-left: 10px;
				margin-top: 3px;
			}
		}
	}

	img.qr-code {
		width: 30%;
		width: 90%;
	}

	.cobon {
		input {
			border-radius: 0 20px 20px 0;
			border: 1px solid #e8e8e8;
			margin-left: 0;
			padding: 8px 10px;
			width: 60%;
			outline: none;
			margin-top: 15px;
		}

		margin-top: 40px;
		border-top: 1px solid #e8e8e8;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.wallet {
		img {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.dropdown-menu {
		position: absolute;
		top: 100%;
		right: -30px;
		z-index: 1000;
		display: none;
		float: right;
		min-width: 160px;
	}

	input.check {
		margin-top: 8px;
	}

	.footer {
		h4 {
			font-size: 28px;
			font-weight: 600;
			margin-top: 66px;
			margin-bottom: 20px;
		}

		ul.social {
			li {
				width: 35px;
				height: 35px;
				border-radius: 50%;
				background-color: $mainColor;
				color: #fff;
				margin-left: 8px;
				line-height: 35px;
				text-align: center;
			}
		}

		img.maroof {
			width: 40% !important;
		}
	}

	.filter-nav {
		.pagination {
			>li {
				>a {
					margin-bottom: 5px;
				}

				>span {
					margin-bottom: 5px;
				}
			}
		}
	}

	.pd-size-choose {
		.sc-item {
			label {
				font-size: 16px;
				color: #252525;
				font-weight: 700;
				height: 30px;
				width: 60px;
				border: 1px solid #ebebeb;
				text-align: center;
				line-height: 30px;
				text-transform: uppercase;
				cursor: pointer;
				border-radius: 5px;
			}
		}
	}

	.bill-left {
		text-align: right;
	}

	.bill-header {
		text-align: center;
		font-weight: 600;
		font-size: 44px;
	}

	.bill-list {
		padding: 40px 20px;
		border: 3px solid #eee;
		margin-bottom: 40px;
	}

	img.qr-square {
		float: none;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.special_offers {
		.item {
			direction: rtl;
			position: relative;
			border: 1px solid $secondColor;
			border-radius: 10px;
			min-height: 375px;
		}
	}

	.carousel-indicators {
		position: absolute;
		right: 50%;
		bottom: 10px;
		z-index: 15;
		width: 65%;
		padding-right: 0;
		margin-right: -30%;
		text-align: center;
		list-style: none;
	}

	.card {
		ul.nav-tabs {
			li {
				border: 1px solid #ccc;
				margin-left: 10px;
				padding: 0px 30px;
				background-color: #fff;
				border-radius: 5px;
				margin-bottom: 10px;
				width: 100%;
				text-align: center;
				border: 1px solid #ccc;
				margin-left: 10px;
				padding: 0px 30px;
				background-color: #fff;
				border-radius: 5px;
				margin-bottom: 10px;
				width: 96%;
				text-align: center;
			}
		}

		.deliver-box {
			input {
				margin-top: 26px;
				width: unset;
				float: none;
			}
		}
	}

	.express-box {
		input[type=radio] {
			margin-top: 10px;
			width: unset;
			float: none;
		}

		h4 {
			font-size: 15px;
			color: #777;
			line-height: 1.6;
			font-weight: 600;
		}
	}

	.cart-list.new-list {
		h6 {
			color: #555;
			font-size: 11px;
			cursor: pointer;
		}
	}

	.delivery-details.new {
		.delivery-list {
			h4 {
				font-size: 16px;
				color: #000;
				margin-top: 20px;
				font-weight: 600;
			}

			p {
				font-size: 16px;
				color: #444;
				margin-top: 20px;
				text-align: center;
			}

			input {
				margin-top: 16px;
			}
		}
	}
}

// ipad

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.top_header {
		.fav {
			span {
				float: left;
				font-size: 25px;
				color: #777;
				margin-left: -10px;
				opacity: .5;
				display: none;
			}
		}

		.cart {
			span.bord {
				float: left;
				font-size: 25px;
				color: #777;
				margin-left: -10px;
				opacity: .4;
				display: none;
			}
		}
	}

	.header {
		.navbar-default {
			.navbar-nav {
				>li {
					>a {
						color: #707070;
						font-weight: 600;
						font-size: 14px;
						transition: all 0.3s ease-in-out;
						padding: 10px 8px;
						font-size: 12px;
					}
				}
			}
		}
	}

	.slide {
		.carousel-inner {
			height: unset !important;
		}
	}

	.banner {
		height: unset;
	}

	.product-slider {
		.carousel-indicators {
			bottom: -80px;
		}
	}

	.total-order {
		li {
			margin-bottom: 20px;
			font-size: 12px;
		}
	}

	.cart-li {
		h4 {
			font-size: 13px;
			margin-bottom: 10px;
		}
	}

	.cart-list {
		input {
			width: 68%;
		}
	}

	.fav-box {
		button {
			padding: 8px 8px;
			margin-top: 30px;
			font-size: 10px;
			margin-right: -13px;
		}
	}

	.profile-content {
		img {
			display: block;
			margin-top: 28px;
			margin-bottom: 20px;
			border-radius: 50%;
			width: 100%;
		}
	}

	.profile-content.order-number {
		.process-span {
			right: 95px;
		}
	}

	img.profile {
		width: 35%;
	}

	.profile-content.faq {
		h4 {
			>a {
				font-size: 12px;
			}
		}
	}

	.faq {
		.panel-heading {
			a {
				&:before {
					padding: 1px 13px;
				}
			}
		}
	}

	.register {
		width: 100%;
		height: 100vh;
		background-size: cover;
		padding: 25% 0;

		.login-form {
			padding: 40px 40px;
		}
	}

	.bill.preparation {
		h2 {
			&::before {
				content: "";
				width: 44%;
				background-color: #E8B03D;
				height: 10px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}

	.bill {
		h3 {
			font-size: 17px;
		}

		.table {
			>caption+thead {
				>tr {
					&:first-child {
						>td {
							border-top: 0;
							font-weight: 600;
							color: #000;
							font-size: 14px;
						}

						>th {
							border-top: 0;
							font-weight: 600;
							color: #000;
							font-size: 14px;
						}
					}
				}
			}

			>colgroup+thead {
				>tr {
					&:first-child {
						>td {
							border-top: 0;
							font-weight: 600;
							color: #000;
							font-size: 14px;
						}

						>th {
							border-top: 0;
							font-weight: 600;
							color: #000;
							font-size: 14px;
						}
					}
				}
			}

			>thead {
				&:first-child {
					>tr {
						&:first-child {
							>td {
								border-top: 0;
								font-weight: 600;
								color: #000;
								font-size: 14px;
							}

							>th {
								border-top: 0;
								font-weight: 600;
								color: #000;
								font-size: 14px;
							}
						}
					}
				}

				>tr {
					>td {
						padding: 12px 8px;
						line-height: 1.42857143;
						vertical-align: top;
						border-top: 1px solid #ddd;
						font-size: 15px;
					}

					>th {
						padding: 12px 8px;
						line-height: 1.42857143;
						vertical-align: top;
						border-top: 1px solid #ddd;
						font-size: 15px;
					}
				}
			}

			>tbody {
				>tr {
					>td {
						padding: 12px 8px;
						line-height: 1.42857143;
						vertical-align: top;
						border-top: 1px solid #ddd;
						font-size: 15px;
					}

					>th {
						padding: 12px 8px;
						line-height: 1.42857143;
						vertical-align: top;
						border-top: 1px solid #ddd;
						font-size: 15px;
					}
				}
			}

			>tfoot {
				>tr {
					>td {
						padding: 12px 8px;
						line-height: 1.42857143;
						vertical-align: top;
						border-top: 1px solid #ddd;
						font-size: 15px;
					}

					>th {
						padding: 12px 8px;
						line-height: 1.42857143;
						vertical-align: top;
						border-top: 1px solid #ddd;
						font-size: 15px;
					}
				}
			}
		}

		ul {
			li {
				margin-top: 7px;
				font-size: 18px;
			}
		}

		th {
			>img {
				width: 120px;
			}
		}
	}

	.footer {
		ul.social {
			li {
				width: 35px;
				height: 35px;
				border-radius: 50%;
				background-color: $mainColor;
				color: #fff;
				margin-left: -1px;
				line-height: 35px;
				text-align: center;
			}
		}

		ul {
			li {
				font-size: 13px;
				color: #707070;
				margin-bottom: 13px;
				transition: ease-in-out all 0.3s;
			}
		}
	}

	.card {
		ul.nav-tabs {
			li {
				border: 1px solid #ccc;
				margin-left: 10px;
				padding: 3px 0px;
				background-color: #fff;
				border-radius: 5px;
			}
		}
	}

	.top_header {
		.lang {
			margin-top: 0px !important;
		}
	}
}

@media only screen and (min-width: 321px) and (max-width: 992px) {
	.login-info {
		width: 100%;
		height: 100%;
		background-size: cover;
		padding: 40% 0;
	}
}

@media only screen and (min-width: 359px) and (max-width: 361px) {
	.bill {
		h2 {
			&::before {
				content: "";
				width: 31%;
				background-color: #DA4F12;
				height: 10px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}
}

@media only screen and (min-width: 410px) and (max-width: 416px) {
	.bill {
		h2 {
			&::before {
				content: "";
				width: 38%;
				background-color: #DA4F12;
				height: 10px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}

	.bill.preparation {
		h2 {
			&::after {
				content: "";
				width: 19%;
				background-color: #E8B03D;
				height: 10px;
				display: inline-block;
				margin-right: 15px;
			}

			&::before {
				content: "";
				width: 20%;
				background-color: #E8B03D;
				height: 10px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}
}

@media only screen and (min-width: 375px) and (max-width: 380px) {
	.bill {
		h2 {
			&::before {
				content: "";
				width: 33%;
				background-color: #DA4F12;
				height: 10px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}

	.bill.preparation {
		h2 {
			&::before {
				content: "";
				width: 15%;
				background-color: #E8B03D;
				height: 10px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}

	.card {
		ul.nav-tabs {
			li {
				border: 1px solid #ccc;
				margin-left: 10px;
				padding: 3px 10px;
				background-color: #fff;
				border-radius: 5px;
			}
		}
	}

}

// ipad pro
@media only screen and (min-width: 1023px) and (max-width: 1025px) {
	.register {
		width: 100%;
		height: 100vh;
		background-size: cover;
		padding: 300px 0;
	}

	.login-info {
		width: 100%;
		height: 100vh;
		background-size: cover;
		padding: 30% 0;
	}

	.bill.preparation {
		h2 {
			&::before {
				content: "";
				width: 55%;
				background-color: #E8B03D;
				height: 10px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}

	.bill {
		h2 {
			&::before {
				content: "";
				width: 65%;
				background-color: #DA4F12;
				height: 10px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}

	.footer {
		ul.social {
			li {
				width: 35px;
				height: 35px;
				border-radius: 50%;
				background-color: $mainColor;
				color: #fff;
				margin-left: 8px;
				line-height: 35px;
				text-align: center;
			}
		}
	}

	.profile-content {
		.social {
			img {
				margin-top: 10px;
				margin-bottom: 10px;
				border-radius: 0;
				width: 40px;
			}

			img.maroof-sp {
				width: 80px;
			}
		}
	}

	.card {
		ul.nav-tabs {
			li {
				border: 1px solid #ccc;
				margin-left: 10px;
				padding: 3px 30px;
				background-color: #fff;
				border-radius: 5px;
			}
		}
	}
	.top_header {
		.lang {
			margin-top: 0px !important;
		}
	}
}

// 17 inch
@media only screen and (min-width: 1920px) and (max-width: 2500px) {
	.bill {
		h2 {
			&::after {
				content: "";
				width: 19%;
				background-color: #DA4F12;
				height: 10px;
				display: inline-block;
				margin-right: 15px;
			}

			&::before {
				content: "";
				width: 68%;
				background-color: #DA4F12;
				height: 10px;
				display: inline-block;
				margin-left: 15px;
			}
		}
	}

	.register {
		width: 100%;
		min-height: 100vh;
		background-size: cover;
		padding: 180px 0;
	}

	.login-info {
		width: 100%;
		min-height: 100vh;
		background-size: cover;
		padding: 10% 0;
	}
}

.a {
	fill: $mainColor;
	margin-left: 15px;
}

svg {
	width: 20px;
}

.cart-list  
{
	.nav-tabs {
		li {
			position: relative;
			padding-left: 0 !important;
			padding-right: 0 !important;
			width: 300px;
			text-align: center;
			input {
				position: absolute;
				left: 0;
				cursor: pointer;
				opacity: 0;
			}
		}
	}
}