.top_header .search button {
    position: absolute;
    left: unset;
    right: 0px;
}

.top_header .search .input-group-addon {
    padding: 10px 20px;
    padding-right: 36px;
    margin-left: 0px;
    border-radius: 0 20px 20px 0 !important;
}

.top_header .fav span {
    float: right;
    font-size: 25px;
    color: #777;
    margin-right: 5px;
    margin-left: unset;
    opacity: .5;
}

.top_header .cart span.bord {
    float: right;
    font-size: 25px;
    color: #777;
    margin-left: unset;
    margin-right: 5px;
    opacity: .4;
}

.top_header .cart span.badge {
    position: absolute;
    top: 0;
    left: 30px;
    right: unset;
}

.top_header .login i {
    font-size: 28px;
    line-height: 20px;
    border-radius: 50%;
    padding: 9px;
    background-color: #E8E8E8;
    margin-right: 5px;
    margin-left: unset;
}

.header .navbar-nav {
    margin-right: unset;
    margin-left: -30px;

}

.special_offers .item .padge-l {
    position: absolute;
    left: unset;
    right: 10px;
    color: #E2E2E2;
    cursor: pointer;
    font-size: 24px;
}

.special_offers .item .padge-r {
    position: absolute;
    right: unset;
    left: 0;
    padding: 5px 10px;
    top: 0;
    border-radius: 0;
}

.special_offers .item {
    direction: ltr;
    position: relative;
    border-radius: 5px;
    margin-top: 15px;
}

.special_offers span.more {
    float: right;
    color: #000;
    margin-top: 20px;
    font-size: 18px;
}
.header .dropdown-content {
  
    padding: 15px;
}
.product-info button.danger {
    border-radius: 25px;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    margin-left: 10px;
    margin-right: unset;
    font-size: 14px;
    outline: none;
    transition: ease-in-out all 0.3s;
}
.drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    margin-left: unset;
}

#scroll-btn {
    position: fixed;
    z-index: 10101010;
    color: #fff;
    border: 0;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    font-size: 26px;
    outline: 0;
    top: 70%;
    right: unset;
    left: 1%;
    display: none;
}

ul.profile-sidebar li>a>i {
    margin-left: unset;
    font-size: 20px;
    margin-right: unset;
}
ul.profile-sidebar li h4 {
    margin-left: 15px;
    margin-right: unset;
}

ul.profile-sidebar li>a>img {
    display: inline-block;
    width: 16px;
    margin-left: unset;
    margin-right: 15px;
}
.profile-content.adresses .cart-li span {
    font-size: 26px;
    position: absolute;
    top: 27px;
    left: unset;
    right: 20px;
}
.bill h2::before {
    content: "";
    width: 72%;
    height: 10px;
    display: inline-block;
    margin-left: unset;
    margin-right: 15px;
}
.bill h2::after {
    content: "";
    width: 11%;
    height: 10px;
    display: inline-block;
    margin-right: unset;
    margin-left: 15px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
    margin-top: 20px;
    padding-left: 0;
}
.cart-list .close {
    position: absolute;
    left: unset;
    right: 0;
    top: 0;
    padding: 11px 16px 8px 16px;
    opacity: 1;
    font-size: 24px;
    opacity: .8;
}
.total-order li p>span {
    float: right;
    font-weight: 600;
}
.cobon input {
    border-radius:  20px 0 0 20px ;
    margin-left: 0;
    padding: 8px 10px;
    width: 70%;
    outline: none;
    margin-top: 15px;
}
.cobon button {
    margin-right: unset;
    margin-left: -5px;
    border-radius: 0 20px 20px 0;
    padding: 8px 30px;
    outline: none;
    color: #fff;
    margin-top: 15px;
}
.wallet img {
    float: right;
    border-radius: 0;
}
.btn-box #btn-one {
    border-radius:  23px 5px 5px  23px;
}
.btn-box #btn-three {
    border-radius: 5px 23px 23px 5px;
}
.delivery-list .close {
    top: 33px;
}
.coll.cobon input {
    float: none;
    display: inline-block;
    border: 1px solid #ccc;
    outline: none;
    border-radius:  25px 0px 0px 25px ;
}
.coll.cobon button {
    display: inline-block;
    border-radius: 0 25px 25px 0;
    color: #fff;
    padding: 10px 50px;
    margin-right: unset;
    margin-left: -6px;
    padding-bottom: 8px;
}
.profile-content h4 {
    display: block;
    margin-left: 21px;
    width: 100%;
    text-align: left;
    padding-left: unset;
    padding-right: 20px;
    padding-top: 20px;
    margin-top: 0;
}
.profile-content.faq h4 {
    text-align: left;
    margin: 10px 0;
    padding-top: 0;
}
.faq .panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 1px 13px;
    margin-top: -12px;
}
.fav-box .close {
    position: absolute;
    left: unset;
    right: -5px;
    top: 28px;
    padding: 11px 16px 8px 16px;
    opacity: 1;
    font-size: 26px;
    color: #908d8d;
    opacity: .8;
}
.profile-content .fav-box h4 {
    text-align: left;
    margin-left: 0;
}
.profile-content .pagination>li>a, .profile-content .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-right: -1px;
    line-height: 1.42857143;
    color: #858586;
    text-decoration: none;
    margin-left: 5px;
    border-radius: 5px;
}
.special_offers .item {
    direction: ltr;
    position: relative;
    border-radius: 5px;
    margin-top: 0px;
}
.filter-nav .pagination>li>a, .filter-nav .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-right: -1px;
    line-height: 1.42857143;
    color: #909090;
    text-decoration: none;
    margin-left: 5px;
    border-radius: 5px;
}

.process-step:first-of-type:after,
.process-step:not(:first-of-type):not(:last-of-type):after,
.process-step:last-of-type:before,
.process-step:not(:first-of-type):not(:last-of-type):before {
    content: '';
    margin: 0 -13px;
    position: absolute;
    top: 16px;
    width: 49%;
}

.process-step.num-two::before {
}

.process-step.step-three::after {

}

.process-steps-wrapper {
    display: inline-flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    direction: ltr;
    margin-top: 2px;
    margin-bottom: 30px;
}

.process-step {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.process-step:first-of-type:after,
.process-step:not(:first-of-type):not(:last-of-type):after {
    right: 2px;
}

.process-step:last-of-type:before,
.process-step:not(:first-of-type):not(:last-of-type):before {
    left: 3px;
}

.process-label {
    color: #EAEAE9;
    display: block;
    line-height: 100%;
}

.process-label.active {
    color: #494949;
}

.i-bordered {
    background-color: #e8e8e8;
    border: 2px solid #e8e8e8;
    border-radius: 50%;
    color: #fff;
    display: block;
    margin: 4px auto 7px;
    position: relative;
    text-align: center;
    width: 25px;
    height: 25px;
}

.i-bordered.active {
    background-color: #fff;
}

.i-bordered.active-2 {
    position: relative;
}

.process-span {
    position: absolute;
    top: 76px !important;
    right: unset !important;
    left: 185px !important;
    font-size: 16px;
    color: #777;
}
.order-details img {
    border-radius: 0;
}
.bill.preparation td img {
    float: right;
    margin: 0;
    margin-left: 10px;
    margin-top: -9px;
}
.bill.preparation h2::before {
    content: "";
    width: 65%;
    height: 10px;
    display: inline-block;
    margin-left: unset;
}
.bill.preparation h2::after {
    content: "";
    width: 11%;
    height: 10px;
    display: inline-block;
    margin-right: unset;
}
.product-info button.add-to-cart {
    border-radius: 0 25px 25px 0;
    border: none;
    color: #fff;
    padding: 12px 40px;
    outline: none;
}
.product-description p {
    color: #777;
    font-size: 16px;
    line-height: 1.8;
    padding-left: unset;
    padding-right: 30px;
}
.product-info button {
    background-color: #EEEEEE;
    color: #777;
    padding: 12px 40px;
    border: none;
    border-radius: 0 25px 25px 0;
}
.terms-box .term i {
    float: right;
    font-size: 20px;
    transform: unset;
}

.profile-content ul.content-ul i {
    margin-left: unset;
    margin-right: 25px;
    font-size: 20px;
}

.profile-content h4.edit {
    display: block;
    margin-left: unset;
    margin-right: 21px;
    width: 100%;
    text-align: right;
    padding-left: unset;
    padding-right: 20px;
    padding-top: 20px;
    margin-top: 0;
}

span.done {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    float: right;
}
.product-info button>i {
    margin-left: unset;
    margin-right: 5px;
    font-size: 22px;
}
.header .login .dropdown-menu li i {
    font-size: 18px;
    padding: 2px;
    background-color: transparent;
    margin-left: unset;
    margin-right: 5px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: unset;
    right: 0;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.profile-content .order-details h4 {
    text-align: left;
    margin-left: 0;
}
.profile-content .fav-box span.discount {
    padding: 1px 10px;
    top: 0;
    margin-left: unset;
    margin-right: 5px;
    font-size: 13px;
}
.footer ul.social li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    margin-right: 15px;
    line-height: 35px;
    text-align: center;
    margin-left: unset;
}
.express .panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
    margin-top: 2px;
    margin-right: 5px;
    font-size: 18px;
}
@media only screen and (max-width: 600px) {
    .top_header .fav span {
        float: right;
        font-size: 25px;
        color: #777;
        margin-right: -15px;
        margin-left: unset;
        opacity: .5;
    }
    .top_header .cart span.bord {
        float: right;
        font-size: 25px;
        color: #777;
        margin-left: unset;
        margin-right: -20px;
        opacity: .4;
    }
    .header .navbar-nav {
        margin-left: 0px;
    }
    .top_header .cart span.badge {
        position: absolute;
        top: 0;
        left: 45px;
        right: unset;
    }
    .cobon input {
        border-radius:  20px 0 0 20px ;
        border: 1px solid #e8e8e8;
        margin-left: 0;
        padding: 8px 10px;
        width: 60%;
        outline: none;
        margin-top: 15px;
    }
    .wallet img {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .product-info button.add-to-cart {
        padding: 12px 25px;
    }
    .bill h2::before {
        content: "";
        width: 24%;
        height: 10px;
        display: inline-block;
        margin-left: unset;
    }
    .bill h2::after {
        content: "";
        width: 11%;
        height: 10px;
        display: inline-block;
        margin-right: unset;
    }
    .cobon input {
        border-radius: 20px 0 0 20px;
        border: 1px solid #e8e8e8;
        margin-left: 0;
        padding: 8px 10px;
        width: 60%;
        outline: none;
        margin-top: 15px;
    }
    .coll.cobon button {
        padding-left: 22px;
        padding-right: 22px;
    }
    .faq .panel-heading a:before {
        padding: 1px 14px;
        margin-top: -2px;
        margin-left: unset;
        margin-right: -33px;
    }
    .profile-content.order-number .process-span {
        position: absolute;
        top: 135px;
        right: 155px;
        font-size: 16px;
        color: #777;
        display: none;
    }
    .process-steps-wrapper {
        display: inline-flex;
        justify-content: space-between;
        margin: 0;
        width: 100%;
        direction: ltr;
        margin-top: 2px;
        margin-bottom: 30px;
        padding-left: 0;
    }
    .process-step:first-of-type:after, .process-step:not(:first-of-type):not(:last-of-type):after {
        right: 1px;
    }
    .bill.preparation td img {
        float: none;
        margin: 0;
        margin-left: 0px;
        margin-top: 3px;
    }
    .bill.preparation h2::before {
        content: "";
        width: 3%;
        height: 10px;
        display: inline-block;
        margin-left: unset
    }
    .bill.preparation h2::after {
        content: "";
        width: 18%;
        height: 10px;
        display: inline-block;
        margin-right: unset;
    }
}

/* 17 inch */
@media only screen and (min-width: 1920px) and (max-width: 2500px) {
    .bill h2::after {
        content: "";
        width: 19% !important;
        height: 10px;
        display: inline-block;
        margin-right: unset;
        margin-left: 15px;
    }

    .bill h2::before {
        content: "";
        width: 68%;
        height: 10px;
        display: inline-block;
        margin-left: unset;
        margin-right: 15px;
    }
    .bill.preparation h2::after {
        content: "";
        width: 17% !important;
        height: 10px;
        display: inline-block;
        margin-right: unset;
    }
}